<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Kind</key>
    <string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
    <key>Identifier</key>
    <string>com.apple.dt.unit.crossPlatformSpriteKitGame_watchOSComponent</string>
    <key>Ancestors</key>
    <array>
        <string>com.apple.dt.unit.bundleBase</string>
        <string>com.apple.dt.unit.crossPlatformBase_watchOS</string>
    </array>
    <key>Targets</key>
    <array>
        <dict>
            <key>TargetIdentifier</key>
            <string>com.apple.dt.watchkit2.watchkitapp</string>
            <key>ProductType</key>
            <string>com.apple.product-type.application.watchapp2</string>
            <key>SharedSettings</key>
            <dict>
                <key>ASSETCATALOG_COMPILER_APPICON_NAME</key>
                <string>AppIcon</string>
                <key>ASSETCATALOG_COMPILER_GLOBAL_ACCENT_COLOR_NAME</key>
                <string>AccentColor</string>
                <key>SKIP_INSTALL</key>
                <string>YES</string>
                <key>IBSC_MODULE</key>
                <string>___VARIABLE_productName:identifier____Extension</string>
                <key>PRODUCT_BUNDLE_IDENTIFIER</key>
                <string>___VARIABLE_bundleIdentifierPrefix:bundleIdentifier___.___VARIABLE_productName:RFC1034Identifier___.watchkitapp</string>
            </dict>
            <key>BuildPhases</key>
            <array>
                <dict>
                    <key>Class</key>
                    <string>Resources</string>
                </dict>
            </array>
            <key>ProductBuildPhaseInjections</key>
            <array>
                <dict>
                    <key>TargetIdentifier</key>
                    <string>com.apple.dt.iosApplicationTarget</string>
                </dict>
            </array>
        </dict>
    </array>
    <key>Components</key>
    <array>
        <dict>
            <key>Identifier</key>
            <string>com.apple.dt.unit.crossPlatformSpriteKitGameExtension_watchOS</string>
            <key>Name</key>
            <string>___PACKAGENAME___ Extension</string>
            <key>ProductBuildPhaseInjections</key>
            <array>
                <dict>
                    <key>TargetIdentifier</key>
                    <string>com.apple.dt.watchkit2.watchkitapp</string>
                </dict>
            </array>
        </dict>
    </array>
    <key>Options</key>
    <array>
        <dict>
            <key>Identifier</key>
            <string>languageChoice</string>
            <key>Units</key>
            <dict>
                <key>Swift</key>
                <array>
                    <dict>
                        <key>Targets</key>
                        <array>
                            <dict>
                                <key>SharedSettings</key>
                                <dict>
                                    <key>ALWAYS_EMBED_SWIFT_STANDARD_LIBRARIES</key>
                                    <string>YES</string>
                                </dict>
                            </dict>
                        </array>
                    </dict>
                </array>
            </dict>
        </dict>
    </array>
    <key>Nodes</key>
    <array>
        <string>Base.lproj/Interface.storyboard</string>
        <string>Info.plist:WatchApp</string>
        <string>Info.plist:WatchAppBundleIdentifier</string>
        <string>Info.plist:WatchAppDisplayName</string>
        <string>Info.plist:WatchAppOrientations</string>
    </array>
    <key>Definitions</key>
    <dict>
        <key>Base.lproj/Interface.storyboard</key>
        <dict>
            <key>Path</key>
            <string>Interface.storyboard</string>
        </dict>
		<key>Info.plist:WatchApp</key>
		<string><![CDATA[<key>WKCompanionAppBundleIdentifier</key>
<string>___VARIABLE_bundleIdentifierPrefix:bundleIdentifier___.___VARIABLE_productName:RFC1034Identifier___</string>
<key>WKWatchKitApp</key>
<true/>
]]></string>
		<key>Info.plist:WatchAppBundleIdentifier</key>
		<string><![CDATA[<key>CFBundleIdentifier</key>
<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
]]></string>
		<key>Info.plist:WatchAppDisplayName</key>
		<string><![CDATA[<key>CFBundleDisplayName</key>
<string>___VARIABLE_productName___</string>
]]></string>
        <key>Info.plist:WatchAppOrientations</key>
        <string><![CDATA[<key>UISupportedInterfaceOrientations</key>
<array>
    <string>UIInterfaceOrientationPortrait</string>
    <string>UIInterfaceOrientationPortraitUpsideDown</string>
</array>
]]></string>
    </dict>
</dict>
</plist>
