<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Kind</key>
    <string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
    <key>Identifier</key>
    <string>com.apple.dt.unit.multiPlatform.appWithSafariExtension.macOS</string>
    <key>Ancestors</key>
    <array>
        <string>com.apple.dt.unit.applicationBase</string>
        <string>com.apple.dt.unit.osxBase</string>
    </array>
    <key>Project</key>
    <dict>
        <key>SharedSettings</key>
        <dict>
            <key>MACOSX_DEPLOYMENT_TARGET</key>
            <string>10.14</string>
        </dict>
    </dict>
    <key>Targets</key>
    <array>
        <dict>
            <key>TargetIdentifier</key>
            <string>com.apple.dt.osxApplicationTarget</string>
            <key>Name</key>
            <string>___PARENTPACKAGENAME___ (macOS)</string>
            <key>SharedSettings</key>
            <dict>
                <key>ASSETCATALOG_COMPILER_APPICON_NAME</key>
                <string>AppIcon</string>
                <key>ASSETCATALOG_COMPILER_GLOBAL_ACCENT_COLOR_NAME</key>
                <string>AccentColor</string>
                <key>CODE_SIGN_ENTITLEMENTS</key>
                <string>___PACKAGENAME___/___PARENTPACKAGENAME___.entitlements</string>
                <key>ENABLE_HARDENED_RUNTIME</key>
                <string>YES</string>
                <key>LD_RUNPATH_SEARCH_PATHS</key>
                <string>$(inherited) @executable_path/../Frameworks</string>
                <key>PRODUCT_NAME</key>
                <string>___VARIABLE_productName___</string>
                <key>PRODUCT_BUNDLE_IDENTIFIER</key>
                <string>___VARIABLE_bundleIdentifierPrefix:bundleIdentifier___.___VARIABLE_productName:RFC1034Identifier___</string>
                <key>INFOPLIST_KEY_CFBundleDisplayName</key>
                <string>___PARENTPACKAGENAME___</string>
                <key>INFOPLIST_KEY_NSMainStoryboardFile</key>
                <string>Main</string>
                <key>INFOPLIST_KEY_NSPrincipalClass</key>
                <string>NSApplication</string>
                <key>OTHER_LDFLAGS</key>
                <string>-framework SafariServices -framework WebKit</string>
            </dict>
        </dict>
    </array>
    <key>Options</key>
    <array>
        <dict>
            <key>Identifier</key>
            <string>languageChoice</string>
            <key>Units</key>
            <dict>
                <key>Objective-C</key>
                <dict>
                    <key>Nodes</key>
                    <array>
                        <string>AppDelegate.h</string>
                        <string>AppDelegate.m</string>
                        <string>main.m:comments</string>
                        <string>main.m:imports:importCocoa</string>
                        <string>main.m:main:NSApplicationMain</string>
                    </array>
                    <key>Definitions</key>
                    <dict>
                        <key>AppDelegate.h</key>
                        <dict>
                            <key>Path</key>
                            <string>AppDelegate.h</string>
                            <key>SortOrder</key>
                            <integer>1</integer>
                        </dict>
                        <key>AppDelegate.m</key>
                        <dict>
                            <key>Path</key>
                            <string>AppDelegate.m</string>
                            <key>SortOrder</key>
                            <integer>2</integer>
                        </dict>
                        <key>main.m:main:NSApplicationMain</key>
                        <string>@autoreleasepool {
    // Setup code that might create autoreleased objects goes here.
}
return NSApplicationMain(argc, argv);</string>
                    </dict>
                </dict>
                <key>Swift</key>
                <dict>
                    <key>Nodes</key>
                    <array>
                        <string>AppDelegate.swift</string>
                    </array>
                    <key>Definitions</key>
                    <dict>
                        <key>AppDelegate.swift</key>
                        <dict>
                            <key>Path</key>
                            <string>AppDelegate.swift</string>
                            <key>SortOrder</key>
                            <integer>1</integer>
                        </dict>
                    </dict>
                </dict>
            </dict>
        </dict>
        <dict>
            <key>Identifier</key>
            <string>extensionTargetType</string>
            <key>Units</key>
            <dict>
                <key>Base</key>
                <dict>
                    <key>Targets</key>
                    <array>
                        <dict>
                            <key>TargetIdentifier</key>
                            <string>com.apple.dt.osxApplicationTarget</string>
                            <key>SharedSettings</key>
                            <dict>
                                <key>INFOPLIST_FILE</key>
                                <string>___PACKAGENAME___/Info.plist</string>
                            </dict>
                        </dict>
                    </array>
                    <key>Nodes</key>
                    <array>
                        <string>Info.plist:SFSafariWebExtensionConverterVersion</string>
                    </array>
                    <key>Definitions</key>
                    <dict>
                        <key>Info.plist:SFSafariWebExtensionConverterVersion</key>
                        <string><![CDATA[<key>SFSafariWebExtensionConverterVersion</key>
                        <string>___TOOLSVERSION:XML___</string>
                        ]]></string>
                    </dict>
                </dict>
            </dict>
        </dict>
    </array>
    <key>Nodes</key>
    <array>
        <string>Base.lproj/Main.storyboard</string>
        <string>___PARENTPACKAGENAME___.entitlements</string>
    </array>
    <key>Definitions</key>
    <dict>
        <key>Base.lproj/Main.storyboard</key>
        <dict>
            <key>Path</key>
            <string>Main.storyboard</string>
            <key>SortOrder</key>
            <integer>3</integer>
        </dict>
        <key>___PARENTPACKAGENAME___.entitlements</key>
        <dict>
            <key>Path</key>
            <string>App.entitlements</string>
            <key>SortOrder</key>
            <integer>1000</integer>
            <key>TargetIdentifiers</key>
            <array/>
        </dict>
    </dict>
</dict>
</plist>
