<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SupportsSwiftPackage</key>
	<true/>
	<key>DefaultCompletionName</key>
	<string>Tutorial</string>
	<key>Description</key>
	<string>Tutorial File</string>
	<key>Kind</key>
	<string>Xcode.IDEFoundation.TextSubstitutionFileTemplateKind</string>
	<key>MainTemplateFile</key>
	<string>___FILEBASENAME___.tutorial</string>
	<key>Summary</key>
	<string>Tutorials helps create richer documentation experience.</string>
	<key>SortOrder</key>
	<integer>6</integer>
	<key>Platforms</key>
	<array/>
</dict>
</plist>
