<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Kind</key>
    <string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
    <key>Identifier</key>
    <string>com.apple.dt.unit.osxSafariExtensionBase</string>
    <key>Ancestors</key>
    <array>
        <string>com.apple.dt.unit.osxAppExtensionBase</string>
    </array>
    <key>Targets</key>
    <array>
        <dict>
            <key>TargetIdentifier</key>
            <string>com.apple.dt.safariExtension</string>
            <key>SharedSettings</key>
            <dict>
                <key>CODE_SIGN_ENTITLEMENTS</key>
                <string>___PACKAGENAME___/___PACKAGENAMEASIDENTIFIER___.entitlements</string>
            </dict>
            <key>Frameworks</key>
            <array>
                <string>Cocoa</string>
            </array>
        </dict>
    </array>
    <key>Options</key>
    <array>
        <dict>
            <key>Identifier</key>
            <string>extensionBundleIdentifier</string>
            <key>Units</key>
            <dict>
                <key>ForAppTemplate</key>
                <dict>
                    <key>Targets</key>
                    <array>
                        <dict>
                            <key>SharedSettings</key>
                            <dict>
                                <key>PRODUCT_BUNDLE_IDENTIFIER</key>
                                <string>___VARIABLE_bundleIdentifierPrefix:bundleIdentifier___.___PROJECTNAME:rfc1034Identifier___.Extension</string>
                            </dict>
                        </dict>
                    </array>
                </dict>
            </dict>
        </dict>
        <dict>
            <key>Identifier</key>
            <string>safariExtensionType</string>
            <key>Name</key>
            <string>Type:</string>
            <key>Description</key>
            <string>The type of Safari extension.</string>
            <key>Values</key>
            <array>
                <string>Safari App Extension</string>
                <string>Safari Web Extension</string>
            </array>
            <key>Default</key>
            <string>Safari Web Extension</string>
            <key>Type</key>
            <string>popup</string>
            <key>Units</key>
            <dict>
                <key>Safari App Extension</key>
                <array>
                    <dict>
                        <key>Nodes</key>
                        <array>
                            <string>Info.plist:NSExtension</string>
                            <string>Info.plist:NSHumanReadableDescription</string>
                        </array>
                        <key>Definitions</key>
                        <dict>
                            <key>Info.plist:NSExtension</key>
                            <string><![CDATA[<key>NSExtension</key>
<dict>
    <key>NSExtensionPointIdentifier</key>
    <string>com.apple.Safari.extension</string>
    <key>NSExtensionPrincipalClass</key>
    <string>___VARIABLE_moduleNamePrefixForClasses:XML___SafariExtensionHandler</string>
</dict>
]]></string>
                            <key>Info.plist:NSHumanReadableDescription</key>
                            <string><![CDATA[<key>NSHumanReadableDescription</key>
<string>This is ___PACKAGENAME___. You should tell us what your extension does here.</string>
]]></string>
                        </dict>
                    </dict>
                    <dict>
                        <key>RequiredOptions</key>
                        <dict>
                            <key>languageChoice</key>
                            <string>Objective-C</string>
                        </dict>
                        <key>Nodes</key>
                        <array>
                            <string>SafariExtensionHandler.h</string>
                            <string>SafariExtensionHandler.m</string>
                        </array>
                        <key>Definitions</key>
                        <dict>
                            <key>SafariExtensionHandler.h</key>
                            <dict>
                                <key>Path</key>
                                <string>SafariExtensionHandler.h</string>
                            </dict>
                            <key>SafariExtensionHandler.m</key>
                            <dict>
                                <key>Path</key>
                                <string>SafariExtensionHandler.m</string>
                            </dict>
                        </dict>
                    </dict>
                    <dict>
                        <key>RequiredOptions</key>
                        <dict>
                            <key>languageChoice</key>
                            <string>Swift</string>
                        </dict>
                        <key>Nodes</key>
                        <array>
                            <string>SafariExtensionHandler.swift</string>
                        </array>
                        <key>Definitions</key>
                        <dict>
                            <key>SafariExtensionHandler.swift</key>
                            <dict>
                                <key>Path</key>
                                <string>SafariExtensionHandler.swift</string>
                            </dict>
                        </dict>
                    </dict>
                </array>
                <key>Safari Web Extension</key>
                <array>
                    <dict>
                        <key>Nodes</key>
                        <array>
                            <string>Info.plist:NSExtension</string>
                        </array>
                        <key>Definitions</key>
                        <dict>
                            <key>Info.plist:NSExtension</key>
                            <string><![CDATA[<key>NSExtension</key>
<dict>
    <key>NSExtensionPointIdentifier</key>
    <string>com.apple.Safari.web-extension</string>
    <key>NSExtensionPrincipalClass</key>
    <string>___VARIABLE_moduleNamePrefixForClasses:XML___SafariWebExtensionHandler</string>
</dict>
]]></string>
                        </dict>
                    </dict>
                    <dict>
                        <key>Targets</key>
                        <array>
                            <dict>
                                <key>RequiredOptions</key>
                                <dict>
                                    <key>safariExtensionType</key>
                                    <string>Safari Web Extension</string>
                                </dict>
                                <key>SharedSettings</key>
                                <dict>
                                    <key>MACOSX_DEPLOYMENT_TARGET</key>
                                    <string>10.14</string>
                                </dict>
                            </dict>
                        </array>
                    </dict>
                    <dict>
                        <key>RequiredOptions</key>
                        <dict>
                            <key>languageChoice</key>
                            <string>Objective-C</string>
                        </dict>
                        <key>Nodes</key>
                        <array>
                            <string>SafariWebExtensionHandler.h</string>
                            <string>SafariWebExtensionHandler.m</string>
                        </array>
                        <key>Definitions</key>
                        <dict>
                            <key>SafariWebExtensionHandler.h</key>
                            <dict>
                                <key>Path</key>
                                <string>SafariWebExtensionHandler.h</string>
                            </dict>
                            <key>SafariWebExtensionHandler.m</key>
                            <dict>
                                <key>Path</key>
                                <string>SafariWebExtensionHandler.m</string>
                            </dict>
                        </dict>
                    </dict>
                    <dict>
                        <key>RequiredOptions</key>
                        <dict>
                            <key>languageChoice</key>
                            <string>Swift</string>
                        </dict>
                        <key>Nodes</key>
                        <array>
                            <string>SafariWebExtensionHandler.swift</string>
                        </array>
                        <key>Definitions</key>
                        <dict>
                            <key>SafariWebExtensionHandler.swift</key>
                            <dict>
                                <key>Path</key>
                                <string>SafariWebExtensionHandler.swift</string>
                            </dict>
                        </dict>
                    </dict>
                </array>
            </dict>
        </dict>
    </array>
    <key>Nodes</key>
    <array>
        <string>___PACKAGENAMEASIDENTIFIER___.entitlements</string>
    </array>
    <key>Definitions</key>
    <dict>
        <key>___PACKAGENAMEASIDENTIFIER___.entitlements</key>
        <dict>
            <key>Path</key>
            <string>___PACKAGENAMEASIDENTIFIER___.entitlements</string>
            <key>SortOrder</key>
            <integer>1000</integer>
            <key>TargetIdentifiers</key>
            <array/>
        </dict>
    </dict>
</dict>
</plist>
