<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Kind</key>
    <string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
    <key>Identifier</key>
    <string>com.apple.dt.unit.authenticationservicesextensionosx</string>
    <key>Ancestors</key>
    <array>
        <string>com.apple.dt.unit.osxAppExtensionBase</string>
    </array>
    <key>Concrete</key>
    <true/>
    <key>Description</key>
    <string>This template builds an authentication services application extension.</string>
    <key>Targets</key>
    <array>
        <dict>
            <key>TargetIdentifier</key>
            <string>com.apple.dt.appssoIdpExtension</string>
            <key>SharedSettings</key>
            <dict>
                <key>MACOSX_DEPLOYMENT_TARGET</key>
                <string>10.15</string>
                <key>CODE_SIGN_ENTITLEMENTS</key>
                <string>___PACKAGENAME___/___PACKAGENAMEASIDENTIFIER___.entitlements</string>
            </dict>
            <key>Frameworks</key>
            <array>
                <string>AuthenticationServices</string>
            </array>
        </dict>
    </array>
    <key>Options</key>
    <array>
        <dict>
            <key>Identifier</key>
            <string>languageChoice</string>
            <key>Units</key>
            <dict>
                <key>Objective-C</key>
                <dict>
                    <key>Nodes</key>
                    <array>
                        <string>AuthenticationViewController.h</string>
                        <string>AuthenticationViewController.m</string>
                    </array>
                    <key>Definitions</key>
                    <dict>
                        <key>AuthenticationViewController.h</key>
                        <dict>
                            <key>Path</key>
                            <string>AuthenticationViewController.h</string>
                        </dict>
                        <key>AuthenticationViewController.m</key>
                        <dict>
                            <key>Path</key>
                            <string>AuthenticationViewController.m</string>
                        </dict>
                    </dict>
                </dict>
                <key>Swift</key>
                <dict>
                    <key>Nodes</key>
                    <array>
                        <string>AuthenticationViewController.swift</string>
                    </array>
                    <key>Definitions</key>
                    <dict>
                        <key>AuthenticationViewController.swift</key>
                        <dict>
                            <key>Path</key>
                            <string>AuthenticationViewController.swift</string>
                        </dict>
                    </dict>
                </dict>
            </dict>
        </dict>
    </array>
    <key>Nodes</key>
    <array>
        <string>Info.plist:NSExtension</string>
        <string>___PACKAGENAMEASIDENTIFIER___.entitlements</string>
        <string>Base.lproj/AuthenticationViewController.xib</string>
    </array>
    <key>Definitions</key>
    <dict>
        <key>Base.lproj/AuthenticationViewController.xib</key>
        <dict>
            <key>Path</key>
            <string>AuthenticationViewController.xib</string>
            <key>SortOrder</key>
            <integer>99</integer>
        </dict>
        <key>Info.plist:NSExtension</key>
        <string><![CDATA[<key>NSExtension</key>
<dict>
    <key>NSExtensionAttributes</key>
    <dict/>
    <key>NSExtensionPointIdentifier</key>
    <string>com.apple.AppSSO.idp-extension</string>
    <key>NSExtensionPrincipalClass</key>
    <string>___VARIABLE_moduleNamePrefixForClasses:XML___AuthenticationViewController</string>
</dict>
]]></string>
        <key>___PACKAGENAMEASIDENTIFIER___.entitlements</key>
        <dict>
            <key>Path</key>
            <string>___PACKAGENAMEASIDENTIFIER___.entitlements</string>
            <key>SortOrder</key>
            <integer>1000</integer>
            <key>TargetIdentifiers</key>
            <array/>
        </dict>
    </dict>
</dict>
</plist>
