<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Kind</key>
    <string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
    <key>Identifier</key>
    <string>com.apple.dt.unit.multiPlatform.appWithSafariExtension.iOS</string>
    <key>Ancestors</key>
    <array>
        <string>com.apple.dt.unit.applicationBase</string>
        <string>com.apple.dt.unit.iosBase</string>
        <string>com.apple.dt.unit.languageChoice.app.iOS</string>
        <string>com.apple.dt.unit.appLifecycle.iOS</string>
    </array>
    <key>Project</key>
    <dict>
        <key>SharedSettings</key>
        <dict>
            <key>IPHONEOS_DEPLOYMENT_TARGET</key>
            <string>15.0</string>
        </dict>
    </dict>
    <key>Targets</key>
    <array>
        <dict>
            <key>TargetIdentifier</key>
            <string>com.apple.dt.iosApplicationTarget</string>
            <key>Name</key>
            <string>___PARENTPACKAGENAME___ (iOS)</string>
            <key>SharedSettings</key>
            <dict>
                <key>ASSETCATALOG_COMPILER_APPICON_NAME</key>
                <string>AppIcon</string>
                <key>ASSETCATALOG_COMPILER_GLOBAL_ACCENT_COLOR_NAME</key>
                <string>AccentColor</string>
                <key>PRODUCT_NAME</key>
                <string>___VARIABLE_productName___</string>
                <key>PRODUCT_BUNDLE_IDENTIFIER</key>
                <string>___VARIABLE_bundleIdentifierPrefix:bundleIdentifier___.___VARIABLE_productName:RFC1034Identifier___</string>
                <key>LD_RUNPATH_SEARCH_PATHS</key>
                <string>$(inherited) @executable_path/Frameworks</string>
                <key>TARGETED_DEVICE_FAMILY</key>
                <string>1,2</string>
                <key>INFOPLIST_FILE</key>
                <string>___PACKAGENAME___/Info.plist</string>
                <key>INFOPLIST_KEY_CFBundleDisplayName</key>
                <string>___PARENTPACKAGENAME___</string>
                <key>INFOPLIST_KEY_UIApplicationSupportsIndirectInputEvents</key>
                <string>YES</string>
                <key>INFOPLIST_KEY_UIMainStoryboardFile</key>
                <string>Main</string>
                <key>INFOPLIST_KEY_UILaunchStoryboardName</key>
                <string>LaunchScreen</string>
                <key>INFOPLIST_KEY_UISupportedInterfaceOrientations</key>
                <string>UIInterfaceOrientationPortrait UIInterfaceOrientationLandscapeLeft UIInterfaceOrientationLandscapeRight</string>
                <key>INFOPLIST_KEY_UISupportedInterfaceOrientations_iPad</key>
                <string>UIInterfaceOrientationPortrait UIInterfaceOrientationPortraitUpsideDown UIInterfaceOrientationLandscapeLeft UIInterfaceOrientationLandscapeRight</string>
                <key>OTHER_LDFLAGS</key>
                <string>-framework SafariServices -framework WebKit</string>
            </dict>
        </dict>
    </array>
    <key>Nodes</key>
    <array>
        <string>Info.plist:UIApplicationSceneManifest:UISceneStoryboardFile</string>
        <string>Base.lproj/LaunchScreen.storyboard</string>
        <string>Base.lproj/Main.storyboard</string>
    </array>
    <key>Definitions</key>
    <dict>
        <key>Info.plist:UIApplicationSceneManifest</key>
        <dict>
            <key>Beginning</key>
            <string><![CDATA[
            <key>UIApplicationSceneManifest</key>
            <dict>
                <key>UIApplicationSupportsMultipleScenes</key>
                <false/>
                <key>UISceneConfigurations</key>
                <dict>
                    <key>UIWindowSceneSessionRoleApplication</key>
                    <array>
                        <dict>
                            <key>UISceneConfigurationName</key>
                            <string>Default Configuration</string>
                            <key>UISceneDelegateClassName</key>
                            <string>___VARIABLE_moduleNamePrefixForClasses:XML___SceneDelegate</string>
]]></string>
            <key>End</key>
            <string><![CDATA[
                        </dict>
                    </array>
                </dict>
            </dict>
]]></string>
            <key>Indent</key>
            <integer>2</integer>
        </dict>
        <key>Info.plist:UIApplicationSceneManifest:UISceneStoryboardFile</key>
        <string><![CDATA[
<key>UISceneStoryboardFile</key>
<string>Main</string>
]]></string>
        <key>Base.lproj/LaunchScreen.storyboard</key>
        <dict>
            <key>Path</key>
            <string>LaunchScreen.storyboard</string>
            <key>SortOrder</key>
            <integer>97</integer>
        </dict>
        <key>Base.lproj/Main.storyboard</key>
        <dict>
            <key>Path</key>
            <string>Main.storyboard</string>
            <key>SortOrder</key>
            <integer>98</integer>
        </dict>
    </dict>
    <key>Options</key>
    <array>
        <dict>
            <key>Identifier</key>
            <string>userInterface</string>
            <key>Override</key>
            <string>Storyboard</string>
        </dict>
        <dict>
            <key>Identifier</key>
            <string>appLifecycle</string>
            <key>Override</key>
            <string>Cocoa</string>
        </dict>
        <dict>
            <key>Identifier</key>
            <string>languageChoice</string>
            <key>Units</key>
            <dict>
                <key>Objective-C</key>
                <dict>
                    <key>Nodes</key>
                    <array>
                        <string>main.m:comments</string>
                        <string>main.m:imports:importCocoa</string>
                        <string>main.m:imports:importHeader:AppDelegate.h</string>
                        <string>main.m:main:UIApplicationMain</string>
                        <string>AppDelegate.h</string>
                        <string>AppDelegate.m</string>
                        <string>SceneDelegate.h</string>
                        <string>SceneDelegate.m</string>
                    </array>
                    <key>Definitions</key>
                    <dict>
                        <key>main.m:main</key>
                        <dict>
                            <key>Beginning</key>
                            <string>int main(int argc, char * argv[]) {</string>
                            <key>End</key>
                            <string>}</string>
                            <key>Indent</key>
                            <integer>1</integer>
                        </dict>
                        <key>main.m:main:UIApplicationMain</key>
                        <string>NSString *appDelegateClassName;
@autoreleasepool {
    // Setup code that might create autoreleased objects goes here.
    appDelegateClassName = NSStringFromClass([AppDelegate class]);
}
return UIApplicationMain(argc, argv, nil, appDelegateClassName);</string>
                        <key>AppDelegate.h</key>
                        <dict>
                            <key>Path</key>
                            <string>AppDelegate.h</string>
                        </dict>
                        <key>AppDelegate.m</key>
                        <dict>
                            <key>Path</key>
                            <string>AppDelegate.m</string>
                        </dict>
                        <key>SceneDelegate.h</key>
                        <dict>
                            <key>Path</key>
                            <string>SceneDelegate.h</string>
                        </dict>
                        <key>SceneDelegate.m</key>
                        <dict>
                            <key>Path</key>
                            <string>SceneDelegate.m</string>
                        </dict>
                    </dict>
                </dict>
                <key>Swift</key>
                <dict>
                    <key>Nodes</key>
                    <array>
                        <string>AppDelegate.swift</string>
                        <string>SceneDelegate.swift</string>
                    </array>
                    <key>Definitions</key>
                    <dict>
                        <key>AppDelegate.swift</key>
                        <dict>
                            <key>Path</key>
                            <string>AppDelegate.swift</string>
                        </dict>
                        <key>SceneDelegate.swift</key>
                        <dict>
                            <key>Path</key>
                            <string>SceneDelegate.swift</string>
                        </dict>
                    </dict>
                </dict>
            </dict>
        </dict>
        <dict>
            <key>Identifier</key>
            <string>extensionTargetType</string>
            <key>Units</key>
            <dict>
                <key>Base</key>
                <dict>
                    <key>Nodes</key>
                    <array>
                        <string>Info.plist:SFSafariWebExtensionConverterVersion</string>
                    </array>
                    <key>Definitions</key>
                    <dict>
                        <key>Info.plist:SFSafariWebExtensionConverterVersion</key>
                        <string><![CDATA[<key>SFSafariWebExtensionConverterVersion</key>
                        <string>___TOOLSVERSION:XML___</string>
                        ]]></string>
                    </dict>
                </dict>
            </dict>
        </dict>
    </array>
</dict>
</plist>
