<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Kind</key>
    <string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
    <key>Identifier</key>
    <string>com.apple.dt.unit.multiPlatform.appWithSafariExtension.shared</string>
    <key>Ancestors</key>
    <array />
    <key>Options</key>
    <array>
        <dict>
            <key>Identifier</key>
            <string>languageChoice</string>
            <key>Units</key>
            <dict>
                <key>Objective-C</key>
                <dict>
                    <key>Nodes</key>
                    <array>
                        <string>ViewController.h</string>
                        <string>ViewController.m</string>
                    </array>
                    <key>Definitions</key>
                    <dict>
                        <key>ViewController.h</key>
                        <dict>
                            <key>Path</key>
                            <string>ViewController.h</string>
                        </dict>
                        <key>ViewController.m</key>
                        <dict>
                            <key>Path</key>
                            <string>ViewController.m</string>
                            <key>TargetIdentifiers</key>
                            <array>
                                <string>com.apple.dt.iosApplicationTarget</string>
                                <string>com.apple.dt.osxApplicationTarget</string>
                            </array>
                        </dict>
                    </dict>
                </dict>
                <key>Swift</key>
                <dict>
                    <key>Nodes</key>
                    <array>
                        <string>ViewController.swift</string>
                    </array>
                    <key>Definitions</key>
                    <dict>
                        <key>ViewController.swift</key>
                        <dict>
                            <key>Path</key>
                            <string>ViewController.swift</string>
                            <key>TargetIdentifiers</key>
                            <array>
                                <string>com.apple.dt.iosApplicationTarget</string>
                                <string>com.apple.dt.osxApplicationTarget</string>
                            </array>
                        </dict>
                    </dict>
                </dict>
            </dict>
        </dict>
    </array>
    <key>Nodes</key>
    <array>
        <string>Assets.xcassets</string>
        <string>Base.lproj/Main.html</string>
        <string>Resources/Icon.png</string>
        <string>Resources/Style.css</string>
        <string>Resources/Script.js</string>
    </array>
    <key>Definitions</key>
    <dict>
        <key>Assets.xcassets</key>
        <dict>
            <key>Path</key>
            <string>Assets.xcassets</string>
            <key>SortOrder</key>
            <integer>110</integer>
            <key>TargetIdentifiers</key>
            <array>
                <string>com.apple.dt.iosApplicationTarget</string>
                <string>com.apple.dt.osxApplicationTarget</string>
            </array>
            <key>AssetGeneration</key>
            <array>
                <dict>
                    <key>Type</key>
                    <string>appicon</string>
                    <key>Name</key>
                    <string>AppIcon</string>
                    <key>Platforms</key>
                    <dict>
                        <key>iOS</key>
                        <string>true</string>
                        <key>macOS</key>
                        <string>true</string>
                    </dict>
                </dict>
            </array>
        </dict>
        <key>Base.lproj/Main.html</key>
        <dict>
            <key>Path</key>
            <string>Main.html</string>
            <key>Group</key>
            <string>Resources</string>
            <key>TargetIdentifiers</key>
            <array>
                <string>com.apple.dt.iosApplicationTarget</string>
                <string>com.apple.dt.osxApplicationTarget</string>
            </array>
        </dict>
        <key>Resources/Icon.png</key>
        <dict>
            <key>Path</key>
            <string>Icon.png</string>
            <key>Group</key>
            <string>Resources</string>
            <key>TargetIdentifiers</key>
            <array>
                <string>com.apple.dt.iosApplicationTarget</string>
                <string>com.apple.dt.osxApplicationTarget</string>
            </array>
        </dict>
        <key>Resources/Style.css</key>
        <dict>
            <key>Path</key>
            <string>Style.css</string>
            <key>Group</key>
            <string>Resources</string>
            <key>TargetIdentifiers</key>
            <array>
                <string>com.apple.dt.iosApplicationTarget</string>
                <string>com.apple.dt.osxApplicationTarget</string>
            </array>
        </dict>
        <key>Resources/Script.js</key>
        <dict>
            <key>Path</key>
            <string>Script.js</string>
            <key>Group</key>
            <string>Resources</string>
            <key>TargetIdentifiers</key>
            <array>
                <string>com.apple.dt.iosApplicationTarget</string>
                <string>com.apple.dt.osxApplicationTarget</string>
            </array>
        </dict>
    </dict>
</dict>
</plist>
