<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.apple.dt.unit.multiPlatform.safariExtension.shared</string>
    <key>Ancestors</key>
    <array />
    <key>Options</key>
    <array>
        <dict>
            <key>Identifier</key>
            <string>languageChoice</string>
            <key>Units</key>
            <dict>
                <key>Objective-C</key>
                <dict>
                    <key>Nodes</key>
                    <array>
                        <string>SafariWebExtensionHandler.h</string>
                        <string>SafariWebExtensionHandler.m</string>
                    </array>
                    <key>Definitions</key>
                    <dict>
                        <key>SafariWebExtensionHandler.h</key>
                        <dict>
                            <key>Path</key>
                            <string>SafariWebExtensionHandler.h</string>
                        </dict>
                        <key>SafariWebExtensionHandler.m</key>
                        <dict>
                            <key>Path</key>
                            <string>SafariWebExtensionHandler.m</string>
                            <key>TargetIdentifiers</key>
                            <array>
                                <string>com.apple.dt.safariExtension.iOS</string>
                                <string>com.apple.dt.safariExtension.macOS</string>
                            </array>
                        </dict>
                    </dict>
                </dict>
                <key>Swift</key>
                <dict>
                    <key>Nodes</key>
                    <array>
                        <string>SafariWebExtensionHandler.swift</string>
                    </array>
                    <key>Definitions</key>
                    <dict>
                        <key>SafariWebExtensionHandler.swift</key>
                        <dict>
                            <key>Path</key>
                            <string>SafariWebExtensionHandler.swift</string>
                            <key>TargetIdentifiers</key>
                            <array>
                                <string>com.apple.dt.safariExtension.iOS</string>
                                <string>com.apple.dt.safariExtension.macOS</string>
                            </array>
                        </dict>
                    </dict>
                </dict>
            </dict>
        </dict>
        <dict>
            <key>Identifier</key>
            <string>extensionTargetType</string>
            <key>Values</key>
            <array>
                <string>Full</string>
                <string>Base</string>
            </array>
            <key>Default</key>
            <string>Full</string>
            <key>Units</key>
            <dict>
                <key>Full</key>
                <dict>
                    <key>Nodes</key>
                    <array>
                        <string>Resources/manifest.json</string>
                        <string>Resources/_locales</string>
                        <string>Resources/images</string>
                        <string>Resources/background.js</string>
                        <string>Resources/content.js</string>
                        <string>Resources/popup.html</string>
                        <string>Resources/popup.css</string>
                        <string>Resources/popup.js</string>
                    </array>
                    <key>Definitions</key>
                    <dict>
                        <key>Resources/manifest.json</key>
                        <dict>
                            <key>Path</key>
                            <string>manifest.json</string>
                            <key>Group</key>
                            <string>Resources</string>
                            <key>SortOrder</key>
                            <integer>3</integer>
                            <key>TargetIdentifiers</key>
                            <array>
                                <string>com.apple.dt.safariExtension.iOS</string>
                                <string>com.apple.dt.safariExtension.macOS</string>
                            </array>
                        </dict>
                        <key>Resources/_locales</key>
                        <dict>
                            <key>Path</key>
                            <string>_locales</string>
                            <key>Group</key>
                            <string>Resources</string>
                            <key>SortOrder</key>
                            <integer>1</integer>
                            <key>TargetIdentifiers</key>
                            <array>
                                <string>com.apple.dt.safariExtension.iOS</string>
                                <string>com.apple.dt.safariExtension.macOS</string>
                            </array>
                        </dict>
                        <key>Resources/images</key>
                        <dict>
                            <key>Path</key>
                            <string>images</string>
                            <key>Group</key>
                            <string>Resources</string>
                            <key>SortOrder</key>
                            <integer>2</integer>
                            <key>TargetIdentifiers</key>
                            <array>
                                <string>com.apple.dt.safariExtension.iOS</string>
                                <string>com.apple.dt.safariExtension.macOS</string>
                            </array>
                        </dict>
                        <key>Resources/background.js</key>
                        <dict>
                            <key>Path</key>
                            <string>background.js</string>
                            <key>Group</key>
                            <string>Resources</string>
                            <key>SortOrder</key>
                            <integer>4</integer>
                            <key>TargetIdentifiers</key>
                            <array>
                                <string>com.apple.dt.safariExtension.iOS</string>
                                <string>com.apple.dt.safariExtension.macOS</string>
                            </array>
                        </dict>
                        <key>Resources/content.js</key>
                        <dict>
                            <key>Path</key>
                            <string>content.js</string>
                            <key>Group</key>
                            <string>Resources</string>
                            <key>SortOrder</key>
                            <integer>5</integer>
                            <key>TargetIdentifiers</key>
                            <array>
                                <string>com.apple.dt.safariExtension.iOS</string>
                                <string>com.apple.dt.safariExtension.macOS</string>
                            </array>
                        </dict>
                        <key>Resources/popup.html</key>
                        <dict>
                            <key>Path</key>
                            <string>popup.html</string>
                            <key>Group</key>
                            <string>Resources</string>
                            <key>SortOrder</key>
                            <integer>6</integer>
                            <key>TargetIdentifiers</key>
                            <array>
                                <string>com.apple.dt.safariExtension.iOS</string>
                                <string>com.apple.dt.safariExtension.macOS</string>
                            </array>
                        </dict>
                        <key>Resources/popup.css</key>
                        <dict>
                            <key>Path</key>
                            <string>popup.css</string>
                            <key>Group</key>
                            <string>Resources</string>
                            <key>SortOrder</key>
                            <integer>7</integer>
                            <key>TargetIdentifiers</key>
                            <array>
                                <string>com.apple.dt.safariExtension.iOS</string>
                                <string>com.apple.dt.safariExtension.macOS</string>
                            </array>
                        </dict>
                        <key>Resources/popup.js</key>
                        <dict>
                            <key>Path</key>
                            <string>popup.js</string>
                            <key>Group</key>
                            <string>Resources</string>
                            <key>SortOrder</key>
                            <integer>8</integer>
                            <key>TargetIdentifiers</key>
                            <array>
                                <string>com.apple.dt.safariExtension.iOS</string>
                                <string>com.apple.dt.safariExtension.macOS</string>
                            </array>
                        </dict>
                    </dict>
                </dict>
            </dict>
        </dict>
    </array>
</dict>
</plist>
