<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Kind</key>
    <string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
    <key>Identifier</key>
    <string>com.apple.dt.unit.SystemExtension.EndpointSecurity.macOS</string>
    <key>Ancestors</key>
    <array>
        <string>com.apple.dt.unit.osxSystemExtensionBase</string>
    </array>
    <key>Concrete</key>
    <true/>
    <key>Targets</key>
    <array>
        <dict>
            <key>SharedSettings</key>
            <dict>
                <key>MACOSX_DEPLOYMENT_TARGET</key>
                <string>___BESTMACOSVERSION___</string>
                <key>CODE_SIGN_ENTITLEMENTS</key>
                <string>___PACKAGENAME___/___PACKAGENAMEASIDENTIFIER___.entitlements</string>
            </dict>
            <key>Libraries</key>
            <array>
                <string>libEndpointSecurity.tbd</string>
            </array>
            <key>TargetIdentifier</key>
            <string>com.apple.dt.SystemExtension.EndpointSecurity.macOS</string>
        </dict>
    </array>
    <key>Options</key>
    <array>
        <dict>
            <key>Identifier</key>
            <string>languageChoice</string>
            <key>Units</key>
            <dict>
                <key>Objective-C</key>
                <array>
                    <dict>
                        <key>Nodes</key>
                        <array>
                            <string>main.m</string>
                        </array>
                    </dict>
                </array>
                <key>Swift</key>
                <array>
                    <dict>
                        <key>Nodes</key>
                        <array>
                            <string>main.swift</string>
                        </array>
                    </dict>
                </array>
            </dict>
        </dict>
    </array>
    <key>Nodes</key>
    <array>
        <string>Info.plist:NSSystemExtensionUsageDescription</string>
        <string>___PACKAGENAMEASIDENTIFIER___.entitlements</string>
    </array>
    <key>Definitions</key>
    <dict>
        <key>main.m</key>
        <dict>
            <key>Path</key>
            <string>main.m</string>
        </dict>
        <key>main.swift</key>
        <dict>
            <key>Path</key>
            <string>main.swift</string>
        </dict>
        <key>Info.plist:NSSystemExtensionUsageDescription</key>
        <string><![CDATA[<key>NSSystemExtensionUsageDescription</key>
<string></string>
]]></string>
        <key>___PACKAGENAMEASIDENTIFIER___.entitlements</key>
        <dict>
            <key>Path</key>
            <string>___PACKAGENAMEASIDENTIFIER___.entitlements</string>
            <key>SortOrder</key>
            <integer>1000</integer>
            <key>TargetIdentifiers</key>
            <array/>
        </dict>
    </dict>
</dict>
</plist>
