<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Kind</key>
    <string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
    <key>Identifier</key>
    <string>com.apple.dt.unit.multiPlatform.app.iOS</string>
    <key>Ancestors</key>
    <array>
        <string>com.apple.dt.unit.crossPlatformAppBase_iOS</string>
    </array>
    <key>Nodes</key>
    <array>
        <string>Info.plist:UIApplicationSceneManifest</string>
        <string>Info.plist:UILaunchScreen</string>
    </array>
    <key>Definitions</key>
    <dict>
        <key>Info.plist:UIApplicationSceneManifest</key>
        <string><![CDATA[<key>UIApplicationSceneManifest</key>
<dict>
    <key>UIApplicationSupportsMultipleScenes</key>
    <true/>
</dict>
]]></string>
        <key>Info.plist:UILaunchScreen</key>
        <string><![CDATA[<key>UILaunchScreen</key>
<dict/>
]]></string>
    </dict>
    <key>Targets</key>
    <array>
        <dict>
            <key>TargetIdentifier</key>
            <string>com.apple.dt.iosApplicationTarget</string>
            <key>Name</key>
            <string>___PARENTPACKAGENAME___ (iOS)</string>
            <key>SharedSettings</key>
            <dict>
                <key>ENABLE_PREVIEWS</key>
                <string>YES</string>
                <key>IPHONEOS_DEPLOYMENT_TARGET</key>
                <string>14.0</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>
