<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.apple.dt.unit.broadcastuploadextension.macOS</string>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.osxAppExtensionBase</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>This template builds a ReplayKit upload extension that allows your app to handle movie clips during a ReplayKit broadcast.</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>hasUIExtension</string>
			<key>Name</key>
			<string>Include UI Extension</string>
			<key>NotPersisted</key>
			<false/>
			<key>SortOrder</key>
			<integer>101</integer>
			<key>Type</key>
			<string>checkbox</string>
			<key>Default</key>
			<string>true</string>
			<key>Units</key>
			<dict>
				<key>true</key>
				<dict>
					<key>Components</key>
					<array>
						<dict>
							<key>Identifier</key>
							<string>com.apple.dt.unit.broadcastsetupuiextension.macOS</string>
							<key>Name</key>
							<string>___PACKAGENAME___SetupUI</string>
							<key>AssociatedTargetIsSameAsIncluder</key>
							<true/>
						</dict>
					</array>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>languageChoice</string>
			<key>Units</key>
			<dict>
				<key>Objective-C</key>
				<dict>
					<key>Nodes</key>
					<array>
						<string>SampleHandler.h</string>
						<string>SampleHandler.m</string>
					</array>
					<key>Definitions</key>
					<dict>
						<key>SampleHandler.h</key>
						<dict>
							<key>Path</key>
							<string>SampleHandler.h</string>
						</dict>
						<key>SampleHandler.m</key>
						<dict>
							<key>Path</key>
							<string>SampleHandler.m</string>
						</dict>
					</dict>
				</dict>
				<key>Swift</key>
				<dict>
					<key>Nodes</key>
					<array>
						<string>SampleHandler.swift</string>
					</array>
					<key>Definitions</key>
					<dict>
						<key>SampleHandler.swift</key>
						<dict>
							<key>Path</key>
							<string>SampleHandler.swift</string>
						</dict>
					</dict>
				</dict>
			</dict>
		</dict>
	</array>
	<key>Targets</key>
	<array>
		<dict>
			<key>TargetIdentifier</key>
			<string>com.apple.dt.broadcastUploadExtension</string>
			<key>Frameworks</key>
			<array>
				<string>ReplayKit</string>
			</array>
			<key>SharedSettings</key>
			<dict>
				<key>MACOSX_DEPLOYMENT_TARGET</key>
				<string>11.0</string>
			</dict>
		</dict>
	</array>
	<key>Nodes</key>
	<array>
		<string>Info.plist:NSExtension</string>
	</array>
	<key>Definitions</key>
	<dict>
		<key>Info.plist:NSExtension</key>
		<string><![CDATA[<key>NSExtension</key>
<dict>
	<key>NSExtensionPrincipalClass</key>
	<string>___VARIABLE_moduleNamePrefixForClasses:XML___SampleHandler</string>
	<key>NSExtensionPointIdentifier</key>
	<string>com.apple.broadcast-services-upload</string>
	<key>RPBroadcastProcessMode</key>
	<string>RPBroadcastProcessModeSampleBuffer</string>
</dict>]]></string>
	</dict>
</dict>
</plist>
