<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "https://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Kind</key>
    <string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
    <key>Identifier</key>
    <string>com.apple.dt.unit.persistenttokenextensionosx</string>
    <key>Ancestors</key>
    <array>
        <string>com.apple.dt.unit.osxAppExtensionBase</string>
    </array>
    <key>Concrete</key>
    <true/>
    <key>Description</key>
    <string>This template builds a Persistent Token application extension.</string>
    <key>Options</key>
    <array>
        <dict>
            <key>Identifier</key>
            <string>languageChoice</string>
            <key>Units</key>
            <dict>
                <key>Objective-C</key>
                <dict>
                    <key>Nodes</key>
                    <array>
                        <string>Token.h</string>
                        <string>Token.m</string>
                        <string>TokenDriver.m</string>
                        <string>TokenSession.m</string>
                    </array>
                    <key>Definitions</key>
                    <dict>
                        <key>Token.h</key>
                        <dict>
                            <key>Path</key>
                            <string>Token.h</string>
                        </dict>
                        <key>Token.m</key>
                        <dict>
                            <key>Path</key>
                            <string>Token.m</string>
                        </dict>
                        <key>TokenDriver.m</key>
                        <dict>
                            <key>Path</key>
                            <string>TokenDriver.m</string>
                        </dict>
                        <key>TokenSession.m</key>
                        <dict>
                            <key>Path</key>
                            <string>TokenSession.m</string>
                        </dict>
                    </dict>
                </dict>
                <key>Swift</key>
                <dict>
                    <key>Nodes</key>
                    <array>
                        <string>Token.swift</string>
                        <string>TokenDriver.swift</string>
                        <string>TokenSession.swift</string>
                    </array>
                    <key>Definitions</key>
                    <dict>
                        <key>Token.swift</key>
                        <dict>
                            <key>Path</key>
                            <string>Token.swift</string>
                        </dict>
                        <key>TokenDriver.swift</key>
                        <dict>
                            <key>Path</key>
                            <string>TokenDriver.swift</string>
                        </dict>
                        <key>TokenSession.swift</key>
                        <dict>
                            <key>Path</key>
                            <string>TokenSession.swift</string>
                        </dict>
                    </dict>
                </dict>
            </dict>
        </dict>
    </array>
    <key>Targets</key>
    <array>
        <dict>
            <key>TargetIdentifier</key>
            <string>com.apple.dt.persistentTokenExtension</string>
            <key>SharedSettings</key>
            <dict>
                <key>CODE_SIGN_ENTITLEMENTS</key>
                <string>___PACKAGENAME___/___PACKAGENAMEASIDENTIFIER___.entitlements</string>
            </dict>
            <key>Frameworks</key>
            <array>
                <string>CryptoTokenKit</string>
            </array>
        </dict>
    </array>
    <key>Nodes</key>
    <array>
        <string>Info.plist:NSExtension</string>
        <string>___PACKAGENAMEASIDENTIFIER___.entitlements</string>
    </array>
    <key>Definitions</key>
    <dict>
        <key>Info.plist:NSExtension</key>
        <string><![CDATA[<key>NSExtension</key>
<dict>
    <key>NSExtensionAttributes</key>
    <dict>
        <key>com.apple.ctk.class-id</key>
        <string>___VARIABLE_bundleIdentifierPrefix:bundleIdentifier___.___PACKAGENAMEASRFC1034IDENTIFIER___</string>
        <key>com.apple.ctk.driver-class</key>
        <string>___VARIABLE_moduleNamePrefixForClasses:XML___TokenDriver</string>
    </dict>
    <key>NSExtensionPointIdentifier</key>
    <string>com.apple.ctk-tokens</string>
</dict>
]]></string>
        <key>___PACKAGENAMEASIDENTIFIER___.entitlements</key>
        <dict>
            <key>Path</key>
            <string>___PACKAGENAMEASIDENTIFIER___.entitlements</string>
            <key>SortOrder</key>
            <integer>1000</integer>
            <key>TargetIdentifiers</key>
            <array/>
        </dict>
    </dict>
</dict>
</plist>
