<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Kind</key>
    <string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
    <key>Identifier</key>
    <string>com.apple.dt.unit.crossPlatformRealityKitGame_sharedComponent</string>
    <key>Ancestors</key>
    <array>
        <string>com.apple.dt.unit.base</string>
        <string>com.apple.dt.unit.languageChoice</string>
        <string>com.apple.dt.unit.crossPlatformBase</string>
    </array>
    <key>Nodes</key>
    <array>
        <string>Experience.rcproject</string>
    </array>
    <key>Definitions</key>
    <dict>
        <key>Experience.rcproject</key>
        <dict>
            <key>SortOrder</key>
            <integer>99</integer>
            <key>Path</key>
            <string>Experience.rcproject</string>
            <key>TargetIdentifiers</key>
            <array>
                <string>com.apple.dt.iosApplicationTarget</string>
                <string>com.apple.dt.osxApplicationTarget</string>
            </array>
        </dict>
    </dict>
</dict>
</plist>
