<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Kind</key>
    <string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
    <key>Identifier</key>
    <string>com.apple.dt.unit.audiounitextensionosx</string>
    <key>Ancestors</key>
    <array>
        <string>com.apple.dt.unit.osxAppExtensionBase</string>
    </array>
    <key>Concrete</key>
    <true/>
    <key>Description</key>
    <string>This template builds an Audio Unit application extension.</string>
    <key>Targets</key>
    <array>
        <dict>
            <key>TargetIdentifier</key>
            <string>com.apple.dt.audioUnitExtension</string>
            <key>SharedSettings</key>
            <dict>
                <key>CODE_SIGN_ENTITLEMENTS</key>
                <string>___PACKAGENAME___/___PACKAGENAMEASIDENTIFIER___.entitlements</string>
            </dict>
        </dict>
    </array>
    <key>Options</key>
    <array>
        <dict>
            <key>Identifier</key>
            <string>audioUnitType</string>
            <key>Required</key>
            <true/>
            <key>Name</key>
            <string>Audio Unit Type:</string>
            <key>Description</key>
            <string>The type of the audio unit.</string>
            <key>Type</key>
            <string>popup</string>
            <key>Default</key>
            <string>Instrument</string>
            <key>Values</key>
            <array>
                <string>Instrument</string>
                <string>Generator</string>
                <string>Effect</string>
                <string>Music Effect</string>
            </array>
            <key>Variables</key>
            <dict>
                <key>Instrument</key>
                <dict>
                    <key>audioUnitTypeCode</key>
                    <string>aumu</string>
                    <key>audioUnitTypeTags</key>
                    <string><![CDATA[<string>Synthesizer</string>]]></string>
                </dict>
                <key>Generator</key>
                <dict>
                    <key>audioUnitTypeCode</key>
                    <string>augn</string>
                    <key>audioUnitTypeTags</key>
                    <string></string>
                </dict>
                <key>Effect</key>
                <dict>
                    <key>audioUnitTypeCode</key>
                    <string>aufx</string>
                    <key>audioUnitTypeTags</key>
                    <string><![CDATA[<string>Effects</string>]]></string>
                </dict>
                <key>Music Effect</key>
                <dict>
                    <key>audioUnitTypeCode</key>
                    <string>aumf</string>
                    <key>audioUnitTypeTags</key>
                    <string><![CDATA[<string>Effects</string>
                    <string>MIDI</string>
                    ]]></string>
                </dict>
            </dict>
        </dict>
        <dict>
            <key>Identifier</key>
            <string>audioUnitSubtypeCode</string>
            <key>Required</key>
            <true/>
            <key>Name</key>
            <string>Subtype Code:</string>
            <key>NotPersisted</key>
            <true/>
            <key>Description</key>
            <string>A four character code that identifies the subtype of the audio unit</string>
            <key>Placeholder</key>
            <string>demo (must be exactly 4 characters)</string>
            <key>Type</key>
            <string>text</string>
        </dict>
        <dict>
            <key>Identifier</key>
            <string>audioUnitManufacturerCode</string>
            <key>Required</key>
            <true/>
            <key>Name</key>
            <string>Manufacturer Code:</string>
            <key>NotPersisted</key>
            <true/>
            <key>Description</key>
            <string>A four character code that identifies the manufacturer of the audio unit</string>
            <key>Placeholder</key>
            <string>DEMO (exactly 4 characters, at least 1 upper case)</string>
            <key>Type</key>
            <string>text</string>
        </dict>
        <dict>
            <key>Identifier</key>
            <string>hasUserInterface</string>
            <key>NotPersisted</key>
            <true/>
            <key>Name</key>
            <string>User Interface:</string>
            <key>Description</key>
            <string>An action that presents an interface has a view controller for the user to interact with. An action that requires no user input should present no interface.</string>
            <key>Type</key>
            <string>popup</string>
            <key>Values</key>
            <array>
                <string>Presents User Interface</string>
                <string>No User Interface</string>
            </array>
            <key>Default</key>
            <string>Presents User Interface</string>
            <key>Units</key>
            <dict>
                <key>Presents User Interface</key>
                <array>
                    <dict>
                        <key>RequiredOptions</key>
                        <dict>
                            <key>languageChoice</key>
                            <string>Objective-C</string>
                        </dict>
                        <key>Nodes</key>
                        <array>
                            <string>UI/AudioUnitViewController.h</string>
                            <string>UI/AudioUnitViewController.m</string>
                        </array>
                        <key>Definitions</key>
                        <dict>
                            <key>UI/AudioUnitViewController.h</key>
                            <dict>
                                <key>Group</key>
                                <array>
                                    <string>UI</string>
                                </array>
                                <key>Path</key>
                                <string>AudioUnitViewController.h</string>
                            </dict>
                            <key>UI/AudioUnitViewController.m</key>
                            <dict>
                                <key>Group</key>
                                <array>
                                    <string>UI</string>
                                </array>
                                <key>Path</key>
                                <string>AudioUnitViewController.m</string>
                            </dict>
                        </dict>
                    </dict>
                    <dict>
                        <key>RequiredOptions</key>
                        <dict>
                            <key>languageChoice</key>
                            <string>Swift</string>
                        </dict>
                        <key>Nodes</key>
                        <array>
                            <string>UI/AudioUnitViewController.swift</string>
                        </array>
                        <key>Definitions</key>
                        <dict>
                            <key>UI/AudioUnitViewController.swift</key>
                            <dict>
                                <key>Group</key>
                                <array>
                                    <string>UI</string>
                                </array>
                                <key>Path</key>
                                <string>AudioUnitViewController.swift</string>
                            </dict>
                        </dict>
                    </dict>
                </array>
                <key>No User Interface</key>
                <array>
                    <dict>
                        <key>RequiredOptions</key>
                        <dict>
                            <key>languageChoice</key>
                            <string>Objective-C</string>
                        </dict>
                        <key>Nodes</key>
                        <array>
                            <string>Factory/AudioUnitFactory.h</string>
                            <string>Factory/AudioUnitFactory.m</string>
                        </array>
                        <key>Definitions</key>
                        <dict>
                            <key>Factory/AudioUnitFactory.h</key>
                            <dict>
                                <key>Group</key>
                                <array>
                                    <string>Factory</string>
                                </array>
                                <key>Path</key>
                                <string>AudioUnitFactory.h</string>
                            </dict>
                            <key>Factory/AudioUnitFactory.m</key>
                            <dict>
                                <key>Group</key>
                                <array>
                                    <string>Factory</string>
                                </array>
                                <key>Path</key>
                                <string>AudioUnitFactory.m</string>
                            </dict>
                        </dict>
                    </dict>
                    <dict>
                        <key>RequiredOptions</key>
                        <dict>
                            <key>languageChoice</key>
                            <string>Swift</string>
                        </dict>
                        <key>Nodes</key>
                        <array>
                            <string>Factory/AudioUnitFactory.swift</string>
                        </array>
                        <key>Definitions</key>
                        <dict>
                            <key>Factory/AudioUnitFactory.swift</key>
                            <dict>
                                <key>Group</key>
                                <array>
                                    <string>Factory</string>
                                </array>
                                <key>Path</key>
                                <string>AudioUnitFactory.swift</string>
                            </dict>
                        </dict>
                    </dict>
                </array>
            </dict>
        </dict>
        <dict>
            <key>Identifier</key>
            <string>languageChoice</string>
            <key>Units</key>
            <dict>
                <key>Objective-C</key>
                <dict>
                    <key>moduleNamePrefixForClasses</key>
					<string></string>
                    <key>Nodes</key>
                    <array>
                    </array>
                    <key>Definitions</key>
                    <dict>
                    </dict>
                </dict>
                <key>Swift</key>
                <dict>
                	<key>moduleNamePrefixForClasses</key>
					<string>$(PRODUCT_MODULE_NAME).</string>
                    <key>Targets</key>
                    <array>
                        <dict>
                            <key>SharedSettings</key>
                            <dict>
                                <key>SWIFT_OBJC_BRIDGING_HEADER</key>
                                <string>___PACKAGENAME___/___PACKAGENAMEASIDENTIFIER___-Bridging-Header.h</string>
                            </dict>
                        </dict>
                    </array>
                    <key>Nodes</key>
                    <array>
                        <string>___PACKAGENAMEASIDENTIFIER___-Bridging-Header.h</string>
                    </array>
                    <key>Definitions</key>
                    <dict>
                        <key>___PACKAGENAMEASIDENTIFIER___-Bridging-Header.h</key>
                        <dict>
                            <key>Path</key>
                            <string>___PACKAGENAMEASIDENTIFIER___-Bridging-Header.h</string>
                        </dict>
                    </dict>
                </dict>
            </dict>
        </dict>
        <dict>
            <key>Identifier</key>
            <string>hasUserInterface</string>
            <key>Units</key>
            <dict>
                <key>Presents User Interface</key>
                <dict>
                    <key>Nodes</key>
                    <array>
                        <string>Info.plist:NSExtension</string>
                    </array>
                    <key>Definitions</key>
                    <dict>
                        <key>Info.plist:NSExtension</key>
                        <string><![CDATA[<key>NSExtension</key>
                                <dict>
                                <key>NSExtensionAttributes</key>
                                <dict>
                                    <key>AudioComponents</key>
                                    <array>
                                        <dict>
                                            <key>description</key>
                                            <string>___PACKAGENAME___</string>
                                            <key>factoryFunction</key>
                                            <string>___VARIABLE_moduleNamePrefixForClasses:XML___AudioUnitViewController</string>
                                            <key>manufacturer</key>
                                            <string>___VARIABLE_audioUnitManufacturerCode___</string>
                                            <key>name</key>
                                            <string>___VARIABLE_audioUnitManufacturerCode___: ___PACKAGENAME___</string>
                                            <key>sandboxSafe</key>
                                            <true/>
                                            <key>subtype</key>
                                            <string>___VARIABLE_audioUnitSubtypeCode___</string>
                                            <key>tags</key>
                                            <array>
                                                ___VARIABLE_audioUnitTypeTags___
                                            </array>
                                            <key>type</key>
                                            <string>___VARIABLE_audioUnitTypeCode___</string>
                                            <key>version</key>
                                            <integer>67072</integer>
                                        </dict>
                                    </array>
                                </dict>
                                <key>NSExtensionPointIdentifier</key>
                                <string>com.apple.AudioUnit-UI</string>
                                <key>NSExtensionPrincipalClass</key>
                                <string>___VARIABLE_moduleNamePrefixForClasses:XML___AudioUnitViewController</string>
                            </dict>
                        ]]></string>
                    </dict>
                </dict>
                <key>No User Interface</key>
                <dict>
                    <key>Nodes</key>
                    <array>
                        <string>Info.plist:NSExtension</string>
                    </array>
                    <key>Definitions</key>
                    <dict>
                        <key>Info.plist:NSExtension</key>
                        <string><![CDATA[<key>NSExtension</key>
                                <dict>
                                <key>NSExtensionAttributes</key>
                                <dict>
                                    <key>AudioComponents</key>
                                    <array>
                                        <dict>
                                            <key>description</key>
                                            <string>___PACKAGENAME___</string>
                                            <key>manufacturer</key>
                                            <string>___VARIABLE_audioUnitManufacturerCode___</string>
                                            <key>name</key>
                                            <string>___VARIABLE_audioUnitManufacturerCode___: ___PACKAGENAME___</string>
                                            <key>sandboxSafe</key>
                                            <true/>
                                            <key>subtype</key>
                                            <string>___VARIABLE_audioUnitSubtypeCode___</string>
                                            <key>tags</key>
                                            <array>
                                                ___VARIABLE_audioUnitTypeTags___
                                            </array>
                                            <key>type</key>
                                            <string>___VARIABLE_audioUnitTypeCode___</string>
                                            <key>version</key>
                                            <integer>67072</integer>
                                        </dict>
                                    </array>
                                </dict>
                                <key>NSExtensionPointIdentifier</key>
                                <string>com.apple.AudioUnit</string>
                                <key>NSExtensionPrincipalClass</key>
                                <string>___VARIABLE_moduleNamePrefixForClasses:XML___AudioUnitFactory</string>
                            </dict>
                        ]]></string>
                    </dict>
                </dict>
            </dict>
        </dict>
    </array>
    <key>Nodes</key>
    <array>
        <string>Audio Unit/___PACKAGENAMEASIDENTIFIER___AudioUnit.h</string>
        <string>Audio Unit/___PACKAGENAMEASIDENTIFIER___AudioUnit.m</string>
        <string>DSP/Helpers/DSPKernel.hpp</string>
        <string>DSP/Helpers/DSPKernel.mm</string>
        <string>DSP/Helpers/BufferedAudioBus.hpp</string>
        <string>DSP/Helpers/___PACKAGENAMEASIDENTIFIER___DSPKernelAdapter.h</string>
        <string>DSP/___PACKAGENAMEASIDENTIFIER___DSPKernel.hpp</string>
        <string>DSP/___PACKAGENAMEASIDENTIFIER___DSPKernel.mm</string>
        <string>Info.plist:NSExtension</string>
        <string>Base.lproj/AudioUnitViewController.xib</string>
        <string>___PACKAGENAMEASIDENTIFIER___.entitlements</string>
    </array>
    <key>Definitions</key>
    <dict>
    	<key>Audio Unit/___PACKAGENAMEASIDENTIFIER___AudioUnit.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Audio Unit</string>
			</array>
			<key>Path</key>
			<string>___PACKAGENAMEASIDENTIFIER___AudioUnit.h</string>
		</dict>
		<key>Audio Unit/___PACKAGENAMEASIDENTIFIER___AudioUnit.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Audio Unit</string>
			</array>
			<key>Path</key>
			<string>___PACKAGENAMEASIDENTIFIER___AudioUnit.m</string>
		</dict>
        <key>DSP/Helpers/DSPKernel.hpp</key>
        <dict>
            <key>Group</key>
            <array>
                <string>DSP</string>
                <string>Helpers</string>
            </array>
            <key>Path</key>
            <string>DSPKernel.hpp</string>
        </dict>
        <key>DSP/Helpers/DSPKernel.mm</key>
        <dict>
            <key>Group</key>
            <array>
                <string>DSP</string>
                <string>Helpers</string>
            </array>
            <key>Path</key>
            <string>DSPKernel.mm</string>
        </dict>
        <key>DSP/Helpers/BufferedAudioBus.hpp</key>
        <dict>
            <key>Group</key>
            <array>
                <string>DSP</string>
                <string>Helpers</string>
            </array>
            <key>Path</key>
            <string>BufferedAudioBus.hpp</string>
        </dict>
        <key>DSP/Helpers/___PACKAGENAMEASIDENTIFIER___DSPKernelAdapter.h</key>
        <dict>
            <key>Group</key>
            <array>
                <string>DSP</string>
                <string>Helpers</string>
            </array>
            <key>Path</key>
            <string>___PACKAGENAMEASIDENTIFIER___DSPKernelAdapter.h</string>
        </dict>
        <key>DSP/___PACKAGENAMEASIDENTIFIER___DSPKernel.hpp</key>
        <dict>
            <key>Group</key>
            <array>
                <string>DSP</string>
            </array>
            <key>Path</key>
            <string>___PACKAGENAMEASIDENTIFIER___DSPKernel.hpp</string>
        </dict>
        <key>DSP/___PACKAGENAMEASIDENTIFIER___DSPKernel.mm</key>
        <dict>
            <key>Group</key>
            <array>
                <string>DSP</string>
            </array>
            <key>Path</key>
            <string>___PACKAGENAMEASIDENTIFIER___DSPKernel.mm</string>
        </dict>
        <key>Base.lproj/AudioUnitViewController.xib</key>
        <dict>
            <key>Path</key>
            <string>AudioUnitViewController.xib</string>
            <key>SortOrder</key>
            <integer>99</integer>
        </dict>
        <key>___PACKAGENAMEASIDENTIFIER___.entitlements</key>
        <dict>
            <key>Path</key>
            <string>___PACKAGENAMEASIDENTIFIER___.entitlements</string>
            <key>SortOrder</key>
            <integer>1000</integer>
            <key>TargetIdentifiers</key>
            <array/>
        </dict>
    </dict>
</dict>
</plist>
