<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Kind</key>
    <string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
    <key>Identifier</key>
    <string>com.apple.dt.unit.applicationBase.SwiftUI</string>
    <key>Ancestors</key>
    <array>
        <string>com.apple.dt.unit.applicationBase</string>
    </array>
    <key>NameOfInitialFileForEditor</key>
    <string>ContentView.swift</string>
    <key>SortOrder</key>
    <integer>1</integer>
    <key>Targets</key>
    <array>
        <dict>
            <key>TargetIdentifier</key>
            <string>com.apple.dt.applicationTarget</string>
            <key>SharedSettings</key>
            <dict>
                <key>ENABLE_PREVIEWS</key>
                <string>YES</string>
                <key>ASSETCATALOG_COMPILER_APPICON_NAME</key>
                <string>AppIcon</string>
                <key>ASSETCATALOG_COMPILER_GLOBAL_ACCENT_COLOR_NAME</key>
                <string>AccentColor</string>
                <key>DEVELOPMENT_ASSET_PATHS</key>
                <string>___PACKAGENAMEPREVIEWCONTENT:quoteIfNeeded___</string>
            </dict>
        </dict>
    </array>
    <key>Options</key>
    <array>
        <dict>
            <key>Identifier</key>
            <string>languageChoice</string>
            <key>Override</key>
            <string>Swift</string>
        </dict>
        <dict>
            <key>Identifier</key>
            <string>appLifecycle</string>
            <key>Override</key>
            <string>SwiftUI</string>
        </dict>
        <dict>
            <key>Identifier</key>
            <string>coreData</string>
            <key>Units</key>
            <dict>
                <key>true</key>
                <array>
                    <dict>
                        <key>Nodes</key>
                        <array>
                            <string>___PACKAGENAME:identifier___App.swift</string>
                            <string>Persistence.swift</string>
                            <string>___PACKAGENAME:identifier___.xcdatamodeld</string>
                            <string>ContentView.swift</string>
                        </array>
                        <key>Definitions</key>
                        <dict>
                            <key>___PACKAGENAME:identifier___App.swift</key>
                            <dict>
                                <key>Path</key>
                                <string>App-CoreData.swift</string>
                                <key>SortOrder</key>
                                <integer>10</integer>
                            </dict>
                            <key>Persistence.swift</key>
                            <dict>
                                <key>Path</key>
                                <string>Persistence.swift</string>
                                <key>SortOrder</key>
                                <integer>15</integer>
                            </dict>
                            <key>___PACKAGENAME:identifier___.xcdatamodeld</key>
                            <dict>
                                <key>Path</key>
                                <string>DataModel.xcdatamodeld</string>
                                <key>SortOrder</key>
                                <integer>16</integer>
                            </dict>
                            <key>ContentView.swift</key>
                            <dict>
                                <key>Path</key>
                                <string>ContentView-CoreData.swift</string>
                                <key>SortOrder</key>
                                <integer>20</integer>
                            </dict>
                        </dict>
                    </dict>
                </array>
                <key>false</key>
                <array>
                    <dict>
                        <key>Nodes</key>
                        <array>
                            <string>___PACKAGENAME:identifier___App.swift</string>
                            <string>ContentView.swift</string>
                        </array>
                        <key>Definitions</key>
                        <dict>
                            <key>___PACKAGENAME:identifier___App.swift</key>
                            <dict>
                                <key>Path</key>
                                <string>App.swift</string>
                                <key>SortOrder</key>
                                <integer>10</integer>
                            </dict>
                            <key>ContentView.swift</key>
                            <dict>
                                <key>Path</key>
                                <string>ContentView.swift</string>
                                <key>SortOrder</key>
                                <integer>20</integer>
                            </dict>
                        </dict>
                    </dict>
                </array>
            </dict>
        </dict>
    </array>
    <key>Nodes</key>
    <array>
        <string>Assets.xcassets</string>
        <string>Preview Content/Preview Assets.xcassets</string>
    </array>
    <key>Definitions</key>
    <dict>
        <key>Assets.xcassets</key>
        <dict>
            <key>Path</key>
            <string>Assets.xcassets</string>
            <key>AssetGeneration</key>
            <array>
                <dict>
                    <key>Type</key>
                    <string>appicon</string>
                    <key>Name</key>
                    <string>AppIcon</string>
                </dict>
                <!-- AccentColor is placed statically. -->
            </array>
            <key>SortOrder</key>
            <integer>100</integer>
        </dict>
        <key>Preview Content/Preview Assets.xcassets</key>
        <dict>
            <key>Group</key>
            <string>Preview Content</string>
            <key>Path</key>
            <string>Preview Assets.xcassets</string>
            <key>SortOrder</key>
            <integer>110</integer>
        </dict>
    </dict>
	<key>Image</key>
    <dict>
        <key>BundleImageName</key>
        <string>app</string>
        <key>BundleIdentifier</key>
        <string>com.apple.dt.IDEKit</string>
    </dict>
</dict>
</plist>
