<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Kind</key>
    <string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
    <key>Identifier</key>
    <string>com.apple.dt.unit.intentsextensionosx</string>
    <key>Ancestors</key>
    <array>
        <string>com.apple.dt.unit.osxAppExtensionBase</string>
    </array>
    <key>Concrete</key>
    <true/>
    <key>Description</key>
    <string>This template builds an Intents extension that allows your app to handle intents issued by system services like Siri and Maps.</string>
    <key>Options</key>
    <array>
        <dict>
            <key>Identifier</key>
            <string>intentType</string>
            <key>Name</key>
            <string>Starting Point:</string>
            <key>Description</key>
            <string>The Intents Extension starting point</string>
            <key>Values</key>
            <array>
                <string>None</string>
            </array>
            <key>Default</key>
            <string>None</string>
            <key>Override</key>
            <string>None</string>
            <key>Type</key>
            <string>popup</string>
            <key>Units</key>
            <dict>
                <key>None</key>
                <array>
                    <dict>
                        <key>Nodes</key>
                        <array>
                            <string>Info.plist:NSExtension</string>
                        </array>
                        <key>Definitions</key>
                        <dict>
                            <key>Info.plist:NSExtension</key>
                            <string><![CDATA[<key>NSExtension</key>
                    <dict>
                        <key>NSExtensionAttributes</key>
                        <dict>
                            <key>IntentsRestrictedWhileLocked</key>
                            <array/>
                            <key>IntentsSupported</key>
                            <array/>
                        </dict>
                        <key>NSExtensionPrincipalClass</key>
                        <string>___VARIABLE_moduleNamePrefixForClasses:XML___IntentHandler</string>
                        <key>NSExtensionPointIdentifier</key>
                        <string>com.apple.intents-service</string>
                    </dict>
                    ]]></string>
                        </dict>
                    </dict>
                    <dict>
                        <key>RequiredOptions</key>
                        <dict>
                            <key>languageChoice</key>
                            <string>Objective-C</string>
                        </dict>
                        <key>Nodes</key>
                        <array>
                            <string>IntentHandler.h</string>
                            <string>IntentHandler.m</string>
                        </array>
                        <key>Definitions</key>
                        <dict>
                            <key>IntentHandler.h</key>
                            <dict>
                                <key>Path</key>
                                <string>NoneType/IntentHandler.h</string>
                            </dict>
                            <key>IntentHandler.m</key>
                            <dict>
                                <key>Path</key>
                                <string>NoneType/IntentHandler.m</string>
                            </dict>
                        </dict>
                    </dict>
                    <dict>
                        <key>RequiredOptions</key>
                        <dict>
                            <key>languageChoice</key>
                            <string>Swift</string>
                        </dict>
                        <key>Nodes</key>
                        <array>
                            <string>IntentHandler.swift</string>
                        </array>
                        <key>Definitions</key>
                        <dict>
                            <key>IntentHandler.swift</key>
                            <dict>
                                <key>Path</key>
                                <string>NoneType/IntentHandler.swift</string>
                            </dict>
                        </dict>
                    </dict>
                </array>
            </dict>
        </dict>
    </array>
    <key>Targets</key>
    <array>
        <dict>
            <key>TargetIdentifier</key>
            <string>com.apple.dt.intentsExtension</string>
        </dict>
    </array>
</dict>
</plist>
