<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Kind</key>
    <string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
    <key>Identifier</key>
    <string>com.apple.dt.unit.xcode-source-editor-extension</string>
    <key>Ancestors</key>
    <array>
        <string>com.apple.dt.unit.osxAppExtensionBase</string>
    </array>
    <key>Concrete</key>
    <true/>
    <key>Description</key>
    <string>This template builds an Xcode Source Editor Extension that allows you to add commands to interact with the Xcode source editor.</string>
    <key>Options</key>
    <array>
        <dict>
            <key>Identifier</key>
            <string>languageChoice</string>
            <key>Units</key>
            <dict>
                <key>Objective-C</key>
                <dict>
                    <key>Nodes</key>
                    <array>
                        <string>SourceEditorExtension.h</string>
                        <string>SourceEditorExtension.m</string>
                        <string>SourceEditorCommand.h</string>
                        <string>SourceEditorCommand.m</string>
                    </array>
                    <key>Definitions</key>
                    <dict>
                        <key>SourceEditorExtension.h</key>
                        <dict>
                            <key>Path</key>
                            <string>SourceEditorExtension.h</string>
                        </dict>
                        <key>SourceEditorExtension.m</key>
                        <dict>
                            <key>Path</key>
                            <string>SourceEditorExtension.m</string>
                        </dict>
                        <key>SourceEditorCommand.h</key>
                        <dict>
                            <key>Path</key>
                            <string>SourceEditorCommand.h</string>
                        </dict>
                        <key>SourceEditorCommand.m</key>
                        <dict>
                            <key>Path</key>
                            <string>SourceEditorCommand.m</string>
                        </dict>
                    </dict>
                </dict>
                <key>Swift</key>
                <dict>
                    <key>Nodes</key>
                    <array>
                        <string>SourceEditorExtension.swift</string>
                        <string>SourceEditorCommand.swift</string>
                    </array>
                    <key>Definitions</key>
                    <dict>
                        <key>SourceEditorExtension.swift</key>
                        <dict>
                            <key>Path</key>
                            <string>SourceEditorExtension.swift</string>
                        </dict>
                        <key>SourceEditorCommand.swift</key>
                        <dict>
                            <key>Path</key>
                            <string>SourceEditorCommand.swift</string>
                        </dict>
                    </dict>
                </dict>
            </dict>
        </dict>
    </array>
    <key>Targets</key>
    <array>
        <dict>
        	<key>ProductType</key>
            <string>com.apple.product-type.xcode-extension</string>
            <key>TargetIdentifier</key>
            <string>com.apple.dt.xcode-source-editor-extension</string>
            <key>SharedSettings</key>
            <dict>
                <key>COMBINE_HIDPI_IMAGES</key>
                <string>YES</string>
                <key>CODE_SIGN_ENTITLEMENTS</key>
                <string>___PACKAGENAME___/___PACKAGENAMEASIDENTIFIER___.entitlements</string>
            </dict>
            <key>Frameworks</key>
            <array>
                <string>Cocoa</string>
                <string>XcodeKit</string>
            </array>
        </dict>
    </array>
    <key>Nodes</key>
    <array>
        <string>Info.plist:NSExtension</string>
        <string>___PACKAGENAMEASIDENTIFIER___.entitlements</string>
    </array>
    <key>Definitions</key>
    <dict>
        <key>Info.plist:NSExtension</key>
        <string><![CDATA[<key>NSExtension</key>
<dict>
    <key>NSExtensionAttributes</key>
    <dict>
        <key>XCSourceEditorExtensionPrincipalClass</key>
        <string>___VARIABLE_moduleNamePrefixForClasses:XML___SourceEditorExtension</string>
        <key>XCSourceEditorCommandDefinitions</key>
        <array>
            <dict>
                <key>XCSourceEditorCommandIdentifier</key>
                <string>$(PRODUCT_BUNDLE_IDENTIFIER).SourceEditorCommand</string>
                <key>XCSourceEditorCommandName</key>
                <string>Source Editor Command</string>
                <key>XCSourceEditorCommandClassName</key>
                <string>___VARIABLE_moduleNamePrefixForClasses:XML___SourceEditorCommand</string>
            </dict>
        </array>
    </dict>
    <key>NSExtensionPointIdentifier</key>
    <string>com.apple.dt.Xcode.extension.source-editor</string>
</dict>
]]></string>
        <key>___PACKAGENAMEASIDENTIFIER___.entitlements</key>
        <dict>
            <key>Path</key>
            <string>___PACKAGENAMEASIDENTIFIER___.entitlements</string>
            <key>SortOrder</key>
            <integer>1000</integer>
            <key>TargetIdentifiers</key>
            <array/>
        </dict>
    </dict>
</dict>
</plist>
