<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildableType</key>
	<string>None</string>
	<key>DefaultCompletionName</key>
	<string>MyScene</string>
	<key>Description</key>
	<string>Reality Composer project file for use with RealityKit.</string>
	<key>Kind</key>
	<string>Xcode.IDEFoundation.TextSubstitutionFileTemplateKind</string>
	<key>MainTemplateFile</key>
	<string>___FILEBASENAME___.rcproject</string>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.macosx</string>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>Summary</key>
	<string>Reality Composer project file for use with RealityKit.</string>
</dict>
</plist>
