<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Kind</key>
    <string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
    <key>Identifier</key>
    <string>com.apple.dt.unit.multiPlatform.app.document-based.shared</string>
    <key>Ancestors</key>
    <array />
    <key>SortOrder</key>
    <integer>80</integer>
    <key>Nodes</key>
    <array>
        <string>___PARENTPACKAGENAME:identifier___App.swift</string>
        <string>___PARENTPACKAGENAME:identifier___Document.swift</string>
        <string>ContentView.swift</string>
        <string>Assets.xcassets</string>
    </array>
    <key>Definitions</key>
    <dict>
        <key>___PARENTPACKAGENAME:identifier___App.swift</key>
        <dict>
            <key>Path</key>
            <string>DocumentApp.swift</string>
            <key>SortOrder</key>
            <integer>100</integer>
            <key>TargetIdentifiers</key>
            <array>
                <string>com.apple.dt.iosApplicationTarget</string>
                <string>com.apple.dt.osxApplicationTarget</string>
            </array>
        </dict>
        <key>___PARENTPACKAGENAME:identifier___Document.swift</key>
        <dict>
            <key>Path</key>
            <string>Document.swift</string>
            <key>SortOrder</key>
            <integer>101</integer>
            <key>TargetIdentifiers</key>
            <array>
                <string>com.apple.dt.iosApplicationTarget</string>
                <string>com.apple.dt.osxApplicationTarget</string>
            </array>
        </dict>
        <key>ContentView.swift</key>
        <dict>
            <key>Path</key>
            <string>ContentView.swift</string>
            <key>SortOrder</key>
            <integer>102</integer>
            <key>TargetIdentifiers</key>
            <array>
                <string>com.apple.dt.iosApplicationTarget</string>
                <string>com.apple.dt.osxApplicationTarget</string>
            </array>
        </dict>
        <key>Assets.xcassets</key>
        <dict>
            <key>Path</key>
            <string>Assets.xcassets</string>
            <key>SortOrder</key>
            <integer>110</integer>
            <key>TargetIdentifiers</key>
            <array>
                <string>com.apple.dt.iosApplicationTarget</string>
                <string>com.apple.dt.osxApplicationTarget</string>
            </array>
            <key>AssetGeneration</key>
            <array>
                <dict>
                    <key>Type</key>
                    <string>appicon</string>
                    <key>Name</key>
                    <string>AppIcon</string>
                    <key>Platforms</key>
                    <dict>
                        <key>iOS</key>
                        <string>true</string>
                        <key>macOS</key>
                        <string>true</string>
                    </dict>
                </dict>
            </array>
        </dict>
    </dict>
    <key>Options</key>
    <array />
</dict>
</plist>
