<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Kind</key>
    <string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
    <key>Identifier</key>
    <string>com.apple.dt.unit.crossPlatformRealityKitGame_iOSComponent</string>
    <key>Ancestors</key>
    <array>
        <string>com.apple.dt.unit.crossPlatformAppBase_iOS</string>
    </array>
    <key>Nodes</key>
    <array>
        <string>Info.plist:UIStatusBarHidden</string>
        <string>Info.plist:NSCameraUsageDescription</string>
        <string>Info.plist:UIRequiredDeviceCapabilities:arkit</string>
    </array>
    <key>Definitions</key>
    <dict>
        <key>Base.lproj/Main.storyboard</key>
        <dict>
            <key>Path</key>
            <string>Main.storyboard</string>
            <key>SortOrder</key>
            <integer>101</integer>
        </dict>
        <key>Info.plist:UIRequiredDeviceCapabilities:arkit</key>
        <string><![CDATA[<string>arkit</string>]]></string>
        <key>Info.plist:UIStatusBarHidden</key>
        <string><![CDATA[<key>UIStatusBarHidden</key>
            <true/>
        ]]></string>
        <key>Info.plist:NSCameraUsageDescription</key>
        <string><![CDATA[<key>NSCameraUsageDescription</key>
            <string></string>
        ]]></string>
    </dict>
    <key>Options</key>
    <array>
        <dict>
            <key>Identifier</key>
            <string>languageChoice</string>
            <key>Units</key>
            <dict>
                <key>Objective-C</key>
                <dict>
                    <key>Nodes</key>
                    <array/>
                    <key>Definitions</key>
                    <dict/>
                </dict>
                <key>Swift</key>
                <dict>
                    <key>Nodes</key>
                    <array>
                        <string>GameViewController.swift</string>
                    </array>
                    <key>Definitions</key>
                    <dict>
                        <key>GameViewController.swift</key>
                        <dict>
                            <key>Path</key>
                            <string>RealityKit_GameViewController.swift</string>
                        </dict>
                    </dict>
                </dict>
            </dict>
        </dict>
    </array>
</dict>
</plist>
