<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Kind</key>
    <string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
    <key>Identifier</key>
    <string>com.apple.dt.unit.application.SwiftUI.macOS</string>
    <key>Ancestors</key>
    <array>
        <string>com.apple.dt.unit.macOSApplicationUI</string>
    </array>
    <key>Options</key>
    <array>
        <dict>
            <key>Identifier</key>
            <string>appLifecycle</string>
            <key>Units</key>
            <dict>
                <key>SwiftUI</key>
                <array>
                    <dict>
                        <key>Nodes</key>
                        <array>
                            <string>Preview Content/Preview Assets.xcassets</string>
                        </array>
                        <key>Targets</key>
                        <array>
                            <dict>
                                <key>SharedSettings</key>
                                <dict>
                                    <key>MACOSX_DEPLOYMENT_TARGET</key>
                                    <string>11.0</string>
                                    <key>ENABLE_PREVIEWS</key>
                                    <string>YES</string>
                                    <key>DEVELOPMENT_ASSET_PATHS</key>
                                    <string>___PACKAGENAMEPREVIEWCONTENT:quoteIfNeeded___</string>
                                </dict>
                            </dict>
                        </array>
                    </dict>
                    <dict>
                        <key>RequiredOptions</key>
                        <dict>
                            <key>coreData</key>
                            <string>false</string>
                        </dict>
                        <key>Nodes</key>
                        <array>
                            <string>___PACKAGENAME:identifier___App.swift</string>
                            <string>ContentView.swift</string>
                        </array>
                        <key>Definitions</key>
                        <dict>
                            <key>___PACKAGENAME:identifier___App.swift</key>
                            <dict>
                                <key>Path</key>
                                <string>App.swift</string>
                                <key>SortOrder</key>
                                <integer>98</integer>
                            </dict>
                            <key>ContentView.swift</key>
                            <dict>
                                <key>Path</key>
                                <string>ContentView.swift</string>
                                <key>SortOrder</key>
                                <integer>99</integer>
                            </dict>
                        </dict>
                    </dict>
                    <dict>
                        <key>RequiredOptions</key>
                        <dict>
                            <key>coreData</key>
                            <string>true</string>
                        </dict>
                        <key>Nodes</key>
                        <array>
                            <string>___PACKAGENAME:identifier___App.swift</string>
                            <string>ContentView.swift</string>
                            <string>Persistence.swift</string>
                            <string>___PACKAGENAMEASIDENTIFIER___.xcdatamodeld</string>
                        </array>
                        <key>Definitions</key>
                        <dict>
                            <key>___PACKAGENAME:identifier___App.swift</key>
                            <dict>
                                <key>Path</key>
                                <string>App-CoreData.swift</string>
                                <key>SortOrder</key>
                                <integer>98</integer>
                            </dict>
                            <key>ContentView.swift</key>
                            <dict>
                                <key>Path</key>
                                <string>ContentView-CoreData.swift</string>
                                <key>SortOrder</key>
                                <integer>99</integer>
                            </dict>
                            <key>Persistence.swift</key>
                            <dict>
                                <key>Path</key>
                                <string>Persistence.swift</string>
                                <key>SortOrder</key>
                                <integer>100</integer>
                            </dict>
                            <key>___PACKAGENAMEASIDENTIFIER___.xcdatamodeld</key>
                            <dict>
                                <key>Path</key>
                                <string>___PACKAGENAMEASIDENTIFIER___.xcdatamodeld</string>
                                <key>SortOrder</key>
                                <integer>101</integer>
                            </dict>
                        </dict>
                    </dict>
                </array>
            </dict>
        </dict>
    </array>
</dict>
</plist>
