<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.apple.dt.unit.photoprojectextensionosx</string>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.osxAppExtensionBase</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>This template builds a Photo Project application extension.</string>
	<key>Targets</key>
	<array>
		<dict>
			<key>TargetIdentifier</key>
			<string>com.apple.dt.photoProjectExtension</string>
			<key>SharedSettings</key>
			<dict>
				<key>CODE_SIGN_ENTITLEMENTS</key>
				<string>___PACKAGENAME___/___PACKAGENAMEASIDENTIFIER___.entitlements</string>
			</dict>
			<key>Frameworks</key>
			<array>
				<string>Photos</string>
				<string>PhotosUI</string>
			</array>
		</dict>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>languageChoice</string>
			<key>Units</key>
			<dict>
				<key>Objective-C</key>
				<dict>
					<key>Nodes</key>
					<array>
						<string>PhotoProjectViewController.h</string>
						<string>PhotoProjectViewController.m</string>
						<string>ProjectTypeDescriptionDataSource.h</string>
						<string>ProjectTypeDescriptionDataSource.m</string>
					</array>
					<key>Definitions</key>
					<dict>
						<key>PhotoProjectViewController.h</key>
						<dict>
							<key>Path</key>
							<string>PhotoProjectViewController.h</string>
						</dict>
						<key>PhotoProjectViewController.m</key>
						<dict>
							<key>Path</key>
							<string>PhotoProjectViewController.m</string>
						</dict>
						<key>ProjectTypeDescriptionDataSource.h</key>
						<dict>
							<key>Path</key>
							<string>ProjectTypeDescriptionDataSource.h</string>
						</dict>
						<key>ProjectTypeDescriptionDataSource.m</key>
						<dict>
							<key>Path</key>
							<string>ProjectTypeDescriptionDataSource.m</string>
						</dict>
					</dict>
				</dict>
				<key>Swift</key>
				<dict>
					<key>Nodes</key>
					<array>
						<string>PhotoProjectViewController.swift</string>
						<string>ProjectTypeDescriptionDataSource.swift</string>
					</array>
					<key>Definitions</key>
					<dict>
						<key>PhotoProjectViewController.swift</key>
						<dict>
							<key>Path</key>
							<string>PhotoProjectViewController.swift</string>
						</dict>
						<key>ProjectTypeDescriptionDataSource.swift</key>
						<dict>
							<key>Path</key>
							<string>ProjectTypeDescriptionDataSource.swift</string>
						</dict>
					</dict>
				</dict>
			</dict>
		</dict>
	</array>
	<key>Nodes</key>
	<array>
		<string>Info.plist:NSExtension</string>
		<string>Info.plist:CFBundleDocumentTypes</string>
		<string>Base.lproj/PhotoProjectViewController.xib</string>
		<string>___PACKAGENAMEASIDENTIFIER___.entitlements</string>
	</array>
	<key>Definitions</key>
	<dict>
		<key>Info.plist:NSExtension</key>
		<string>&lt;key&gt;NSExtension&lt;/key&gt;
&lt;dict&gt;
    &lt;key&gt;NSExtensionAttributes&lt;/key&gt;
    &lt;dict&gt;
        &lt;key&gt;PHProjectExtensionDefinesProjectTypes&lt;/key&gt;
        &lt;true/&gt;
        &lt;key&gt;PHProjectCategory&lt;/key&gt;
        &lt;array&gt;
            &lt;string&gt;other&lt;/string&gt;
        &lt;/array&gt;
    &lt;/dict&gt;
    &lt;key&gt;NSExtensionPointIdentifier&lt;/key&gt;
    &lt;string&gt;com.apple.photo-project&lt;/string&gt;
    &lt;key&gt;NSExtensionPrincipalClass&lt;/key&gt;
    &lt;string&gt;___VARIABLE_moduleNamePrefixForClasses:XML___PhotoProjectViewController&lt;/string&gt;
&lt;/dict&gt;
</string>
		<key>Info.plist:CFBundleDocumentTypes</key>
		<string>&lt;key&gt;CFBundleDocumentTypes&lt;/key&gt;
&lt;array&gt;
    &lt;dict&gt;
        &lt;key&gt;CFBundleTypeRole&lt;/key&gt;
        &lt;string&gt;Editor&lt;/string&gt;
        &lt;key&gt;LSItemContentTypes&lt;/key&gt;
        &lt;array&gt;
            &lt;string&gt;___VARIABLE_bundleIdentifierPrefix:bundleIdentifier___.___VARIABLE_productName:RFC1034Identifier___-document-type&lt;/string&gt;
        &lt;/array&gt;
    &lt;/dict&gt;
&lt;/array&gt;
</string>
		<key>Base.lproj/PhotoProjectViewController.xib</key>
		<dict>
			<key>Path</key>
			<string>PhotoProjectViewController.xib</string>
			<key>SortOrder</key>
			<integer>99</integer>
		</dict>
		<key>___PACKAGENAMEASIDENTIFIER___.entitlements</key>
		<dict>
			<key>Path</key>
			<string>___PACKAGENAMEASIDENTIFIER___.entitlements</string>
			<key>SortOrder</key>
			<integer>1000</integer>
			<key>TargetIdentifiers</key>
			<array/>
		</dict>
	</dict>
</dict>
</plist>
