<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Kind</key>
    <string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
    <key>Identifier</key>
    <string>com.apple.dt.unit.osxSafariExtension</string>
    <key>Ancestors</key>
    <array>
        <string>com.apple.dt.unit.osxSafariExtensionBase</string>
    </array>
    <key>Concrete</key>
    <true/>
    <key>Description</key>
    <string>This template builds a Safari application extension.</string>
    <key>Options</key>
    <array>
        <dict>
            <key>Identifier</key>
            <string>safariExtensionType</string>
            <key>Units</key>
            <dict>
                <key>Safari App Extension</key>
                <array>
                    <dict>
                        <key>Nodes</key>
                        <array>
                            <string>Info.plist:NSExtension</string>
                            <string>Base.lproj/SafariExtensionViewController.xib</string>
                            <string>Resources/script.js</string>
                            <string>Resources/ToolbarItemIcon.pdf</string>
                        </array>
                        <key>Definitions</key>
                        <dict>
                            <key>Info.plist:NSExtension</key>
                            <string><![CDATA[<key>NSExtension</key>
<dict>
    <key>NSExtensionPointIdentifier</key>
    <string>com.apple.Safari.extension</string>
    <key>NSExtensionPrincipalClass</key>
    <string>___VARIABLE_moduleNamePrefixForClasses:XML___SafariExtensionHandler</string>
    <key>SFSafariWebsiteAccess</key>
    <dict>
        <key>Allowed Domains</key>
        <array>
            <string>example.com</string>
        </array>
        <key>Level</key>
        <string>Some</string>
    </dict>
    <key>SFSafariContentScript</key>
    <array>
        <dict>
            <key>Script</key>
            <string>script.js</string>
        </dict>
    </array>
    <key>SFSafariToolbarItem</key>
    <dict>
        <key>Action</key>
        <string>Command</string>
        <key>Image</key>
        <string>ToolbarItemIcon.pdf</string>
        <key>Label</key>
        <string>Your Button</string>
        <key>Identifier</key>
        <string>Button</string>
    </dict>
</dict>
]]></string>
                            <key>Base.lproj/SafariExtensionViewController.xib</key>
                            <dict>
                                <key>Path</key>
                                <string>SafariExtensionViewController.xib</string>
                                <key>SortOrder</key>
                                <integer>99</integer>
                            </dict>
                            <key>Resources/script.js</key>
                            <dict>
                                <key>Path</key>
                                <string>script.js</string>
                                <key>Group</key>
                                <string>Resources</string>
                                <key>SortOrder</key>
                                <integer>1</integer>
                            </dict>
                            <key>Resources/ToolbarItemIcon.pdf</key>
                            <dict>
                                <key>Path</key>
                                <string>ToolbarItemIcon.pdf</string>
                                <key>Group</key>
                                <string>Resources</string>
                                <key>SortOrder</key>
                                <integer>2</integer>
                            </dict>
                        </dict>
                    </dict>
                    <dict>
                        <key>RequiredOptions</key>
                        <dict>
                            <key>languageChoice</key>
                            <string>Objective-C</string>
                        </dict>
                        <key>Nodes</key>
                        <array>
                            <string>SafariExtensionViewController.h</string>
                            <string>SafariExtensionViewController.m</string>
                        </array>
                        <key>Definitions</key>
                        <dict>
                            <key>SafariExtensionViewController.h</key>
                            <dict>
                                <key>Path</key>
                                <string>SafariExtensionViewController.h</string>
                            </dict>
                            <key>SafariExtensionViewController.m</key>
                            <dict>
                                <key>Path</key>
                                <string>SafariExtensionViewController.m</string>
                            </dict>
                        </dict>
                    </dict>
                    <dict>
                        <key>RequiredOptions</key>
                        <dict>
                            <key>languageChoice</key>
                            <string>Swift</string>
                        </dict>
                        <key>Nodes</key>
                        <array>
                            <string>SafariExtensionViewController.swift</string>
                        </array>
                        <key>Definitions</key>
                        <dict>
                            <key>SafariExtensionViewController.swift</key>
                            <dict>
                                <key>Path</key>
                                <string>SafariExtensionViewController.swift</string>
                            </dict>
                        </dict>
                    </dict>
                </array>
                <key>Safari Web Extension</key>
                <array>
                    <dict>
                        <key>Nodes</key>
                        <array>
                            <string>Resources/manifest.json</string>
                            <string>Resources/_locales</string>
                            <string>Resources/images</string>
                            <string>Resources/background.js</string>
                            <string>Resources/content.js</string>
                            <string>Resources/popup.html</string>
                            <string>Resources/popup.css</string>
                            <string>Resources/popup.js</string>
                        </array>
                        <key>Definitions</key>
                        <dict>
                            <key>Resources/manifest.json</key>
                            <dict>
                                <key>Path</key>
                                <string>manifest.json</string>
                                <key>Group</key>
                                <string>Resources</string>
                                <key>SortOrder</key>
                                <integer>3</integer>
                            </dict>
                            <key>Resources/_locales</key>
                            <dict>
                                <key>Path</key>
                                <string>_locales</string>
                                <key>Group</key>
                                <string>Resources</string>
                                <key>SortOrder</key>
                                <integer>1</integer>
                            </dict>
                            <key>Resources/images</key>
                            <dict>
                                <key>Path</key>
                                <string>images</string>
                                <key>Group</key>
                                <string>Resources</string>
                                <key>SortOrder</key>
                                <integer>2</integer>
                            </dict>
                            <key>Resources/background.js</key>
                            <dict>
                                <key>Path</key>
                                <string>background.js</string>
                                <key>Group</key>
                                <string>Resources</string>
                                <key>SortOrder</key>
                                <integer>4</integer>
                            </dict>
                            <key>Resources/content.js</key>
                            <dict>
                                <key>Path</key>
                                <string>content.js</string>
                                <key>Group</key>
                                <string>Resources</string>
                                <key>SortOrder</key>
                                <integer>5</integer>
                            </dict>
                            <key>Resources/popup.html</key>
                            <dict>
                                <key>Path</key>
                                <string>popup.html</string>
                                <key>Group</key>
                                <string>Resources</string>
                                <key>SortOrder</key>
                                <integer>6</integer>
                            </dict>
                            <key>Resources/popup.css</key>
                            <dict>
                                <key>Path</key>
                                <string>popup.css</string>
                                <key>Group</key>
                                <string>Resources</string>
                                <key>SortOrder</key>
                                <integer>7</integer>
                            </dict>
                            <key>Resources/popup.js</key>
                            <dict>
                                <key>Path</key>
                                <string>popup.js</string>
                                <key>Group</key>
                                <string>Resources</string>
                                <key>SortOrder</key>
                                <integer>8</integer>
                            </dict>
                        </dict>
                    </dict>
                </array>
            </dict>
        </dict>
    </array>
</dict>
</plist>
