<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.apple.dt.unit.osx.game</string>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>This template provides a starting point for games.</string>
	<key>SortOrder</key>
	<integer>10</integer>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.cocoaApplicationNativeBase</string>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>gameType</string>
			<key>Name</key>
			<string>Game Technology:</string>
			<key>Description</key>
			<string>The type of game technology to use to create your game</string>
			<key>SortOrder</key>
			<integer>210</integer>
			<key>Values</key>
			<array>
				<string>RealityKit</string>
				<string>SceneKit</string>
				<string>SpriteKit</string>
				<string>Metal</string>
			</array>
			<key>RequiredOptionsForValues</key>
			<dict>
				<key>RealityKit</key>
				<dict>
					<key>languageChoice</key>
					<string>Swift</string>
				</dict>
			</dict>
			<key>Default</key>
			<string>SpriteKit</string>
			<key>Type</key>
			<string>popup</string>
			<key>Units</key>
			<dict>
				<key>RealityKit</key>
				<array>
					<dict>
						<key>RequiredOptions</key>
						<dict>
							<key>languageChoice</key>
							<string>Swift</string>
						</dict>
						<key>Targets</key>
						<array>
							<dict>
								<key>SharedSettings</key>
								<dict>
									<key>MACOSX_DEPLOYMENT_TARGET</key>
									<string>10.15</string>
								</dict>
							</dict>
						</array>
						<key>Nodes</key>
						<array>
							<string>Experience.rcproject</string>
							<string>AppDelegate.swift</string>
							<string>GameViewController.swift</string>
							<string>Base.lproj/MainMenu.xib</string>
							<string>Base.lproj/Main.storyboard</string>
						</array>
						<key>Definitions</key>
						<dict>
							<key>Experience.rcproject</key>
							<dict>
								<key>Path</key>
								<string>RealityKit/Experience.rcproject</string>
								<key>SortOrder</key>
								<integer>99</integer>
							</dict>
							<key>AppDelegate.swift</key>
							<dict>
								<key>Path</key>
								<string>RealityKit/AppDelegate.swift</string>
							</dict>
							<key>GameViewController.swift</key>
							<dict>
								<key>Path</key>
								<string>RealityKit/GameViewController.swift</string>
							</dict>
							<key>Base.lproj/MainMenu.xib</key>
							<dict>
								<key>Path</key>
								<string>RealityKit/MainMenu.xib</string>
								<key>SortOrder</key>
								<integer>101</integer>
							</dict>
							<key>Info.plist:MainNib</key>
							<string>&lt;key&gt;NSMainMenuFile&lt;/key&gt;
	&lt;string&gt;MainMenu&lt;/string&gt;</string>
							<key>Base.lproj/Main.storyboard</key>
							<dict>
								<key>Path</key>
								<string>RealityKit/Main.storyboard</string>
								<key>SortOrder</key>
								<integer>101</integer>
							</dict>
							<key>Info.plist:MainStoryboard</key>
							<string></string>
						</dict>
					</dict>
				</array>
				<key>SceneKit</key>
				<array>
					<dict>
						<key>Nodes</key>
						<array>
							<string>Base.lproj/Main.storyboard</string>
							<string>Info.plist:MainNib</string>
							<string>art.scnassets</string>
						</array>
						<key>Definitions</key>
						<dict>
							<key>Base.lproj/Main.storyboard</key>
							<dict>
								<key>Path</key>
								<string>SceneKit/Main.storyboard</string>
								<key>SortOrder</key>
								<integer>101</integer>
							</dict>
							<key>Info.plist:MainNib</key>
							<string>&lt;key&gt;NSMainStoryboardFile&lt;/key&gt;
&lt;string&gt;Main&lt;/string&gt;</string>
							<key>art.scnassets</key>
							<dict>
								<key>Path</key>
								<string>SceneKit/art.scnassets</string>
								<key>SortOrder</key>
								<integer>99</integer>
							</dict>
						</dict>
					</dict>
					<dict>
						<key>RequiredOptions</key>
						<dict>
							<key>languageChoice</key>
							<string>Objective-C</string>
						</dict>
						<key>Nodes</key>
						<array>
							<string>AppDelegate.h</string>
							<string>AppDelegate.m</string>
							<string>GameViewController.h</string>
							<string>GameViewController.m</string>
						</array>
						<key>Definitions</key>
						<dict>
							<key>GameViewController.h</key>
							<dict>
								<key>Path</key>
								<string>SceneKit/GameViewController.h</string>
							</dict>
							<key>GameViewController.m</key>
							<dict>
								<key>Path</key>
								<string>SceneKit/GameViewController.m</string>
							</dict>
							<key>AppDelegate.h</key>
							<dict>
								<key>Path</key>
								<string>SceneKit/AppDelegate.h</string>
							</dict>
							<key>AppDelegate.m</key>
							<dict>
								<key>Path</key>
								<string>SceneKit/AppDelegate.m</string>
							</dict>
						</dict>
					</dict>
					<dict>
						<key>RequiredOptions</key>
						<dict>
							<key>languageChoice</key>
							<string>Swift</string>
						</dict>
						<key>Nodes</key>
						<array>
							<string>AppDelegate.swift</string>
							<string>GameViewController.swift</string>
						</array>
						<key>Definitions</key>
						<dict>
							<key>GameViewController.swift</key>
							<dict>
								<key>Path</key>
								<string>SceneKit/GameViewController.swift</string>
							</dict>
							<key>AppDelegate.swift</key>
							<dict>
								<key>Path</key>
								<string>SceneKit/AppDelegate.swift</string>
							</dict>
						</dict>
					</dict>
				</array>
				<key>SpriteKit</key>
				<array>
					<dict>
						<key>Nodes</key>
						<array>
							<string>GameScene.sks</string>
							<string>Actions.sks</string>
							<string>Base.lproj/Main.storyboard</string>
							<string>Info.plist:MainNib</string>
						</array>
						<key>Definitions</key>
						<dict>
							<key>GameScene.sks</key>
							<dict>
								<key>Path</key>
								<string>SpriteKit/GameScene.sks</string>
							</dict>
							<key>Actions.sks</key>
							<dict>
								<key>Path</key>
								<string>SpriteKit/Actions.sks</string>
							</dict>
							<key>Base.lproj/Main.storyboard</key>
							<dict>
								<key>Path</key>
								<string>SpriteKit/Main.storyboard</string>
								<key>SortOrder</key>
								<integer>101</integer>
							</dict>
							<key>Info.plist:MainNib</key>
							<string>&lt;key&gt;NSMainStoryboardFile&lt;/key&gt;
&lt;string&gt;Main&lt;/string&gt;
</string>
						</dict>
					</dict>
					<dict>
						<key>RequiredOptions</key>
						<dict>
							<key>languageChoice</key>
							<string>Objective-C</string>
						</dict>
						<key>Nodes</key>
						<array>
							<string>AppDelegate.h</string>
							<string>AppDelegate.m</string>
						</array>
						<key>Definitions</key>
						<dict>
							<key>AppDelegate.h</key>
							<dict>
								<key>Path</key>
								<string>SpriteKit/AppDelegate.h</string>
							</dict>
							<key>AppDelegate.m</key>
							<dict>
								<key>Path</key>
								<string>SpriteKit/AppDelegate.m</string>
							</dict>
						</dict>
					</dict>
					<dict>
						<key>RequiredOptions</key>
						<dict>
							<key>languageChoice</key>
							<string>Objective-C</string>
							<key>integrateGK</key>
							<string>false</string>
						</dict>
						<key>Nodes</key>
						<array>
							<string>GameScene.h</string>
							<string>GameScene.m</string>
							<string>ViewController.h</string>
							<string>ViewController.m</string>
						</array>
						<key>Definitions</key>
						<dict>
							<key>GameScene.h</key>
							<dict>
								<key>Path</key>
								<string>SpriteKit/GameScene.h</string>
							</dict>
							<key>GameScene.m</key>
							<dict>
								<key>Path</key>
								<string>SpriteKit/GameScene.m</string>
							</dict>
							<key>ViewController.h</key>
							<dict>
								<key>Path</key>
								<string>SpriteKit/ViewController.h</string>
							</dict>
							<key>ViewController.m</key>
							<dict>
								<key>Path</key>
								<string>SpriteKit/ViewController.m</string>
							</dict>
						</dict>
					</dict>
					<dict>
						<key>RequiredOptions</key>
						<dict>
							<key>languageChoice</key>
							<string>Objective-C</string>
							<key>integrateGK</key>
							<string>true</string>
						</dict>
						<key>Nodes</key>
						<array>
							<string>GameScene.h</string>
							<string>GameScene.m</string>
							<string>ViewController.h</string>
							<string>ViewController.m</string>
						</array>
						<key>Definitions</key>
						<dict>
							<key>GameScene.h</key>
							<dict>
								<key>Path</key>
								<string>SpriteKit/GK_GameScene.h</string>
							</dict>
							<key>GameScene.m</key>
							<dict>
								<key>Path</key>
								<string>SpriteKit/GK_GameScene.m</string>
							</dict>
							<key>ViewController.h</key>
							<dict>
								<key>Path</key>
								<string>SpriteKit/GK_ViewController.h</string>
							</dict>
							<key>ViewController.m</key>
							<dict>
								<key>Path</key>
								<string>SpriteKit/GK_ViewController.m</string>
							</dict>
						</dict>
					</dict>
					<dict>
						<key>RequiredOptions</key>
						<dict>
							<key>languageChoice</key>
							<string>Swift</string>
						</dict>
						<key>Nodes</key>
						<array>
							<string>AppDelegate.swift</string>
						</array>
						<key>Definitions</key>
						<dict>
							<key>AppDelegate.swift</key>
							<dict>
								<key>Path</key>
								<string>SpriteKit/AppDelegate.swift</string>
							</dict>
						</dict>
					</dict>
					<dict>
						<key>RequiredOptions</key>
						<dict>
							<key>languageChoice</key>
							<string>Swift</string>
							<key>integrateGK</key>
							<string>false</string>
						</dict>
						<key>Nodes</key>
						<array>
							<string>GameScene.swift</string>
							<string>ViewController.swift</string>
						</array>
						<key>Definitions</key>
						<dict>
							<key>GameScene.swift</key>
							<dict>
								<key>Path</key>
								<string>SpriteKit/GameScene.swift</string>
							</dict>
							<key>ViewController.swift</key>
							<dict>
								<key>Path</key>
								<string>SpriteKit/ViewController.swift</string>
							</dict>
						</dict>
					</dict>
					<dict>
						<key>RequiredOptions</key>
						<dict>
							<key>languageChoice</key>
							<string>Swift</string>
							<key>integrateGK</key>
							<string>true</string>
						</dict>
						<key>Nodes</key>
						<array>
							<string>GameScene.swift</string>
							<string>ViewController.swift</string>
						</array>
						<key>Definitions</key>
						<dict>
							<key>GameScene.swift</key>
							<dict>
								<key>Path</key>
								<string>SpriteKit/GK_GameScene.swift</string>
							</dict>
							<key>ViewController.swift</key>
							<dict>
								<key>Path</key>
								<string>SpriteKit/GK_ViewController.swift</string>
							</dict>
						</dict>
					</dict>
				</array>
				<key>Metal</key>
				<array>
					<dict>
						<key>Nodes</key>
						<array>
							<string>Base.lproj/Main.storyboard</string>
							<string>Info.plist:MainNib</string>
							<string>Assets.xcassets</string>
						</array>
						<key>Definitions</key>
						<dict>
							<key>Base.lproj/Main.storyboard</key>
							<dict>
								<key>Path</key>
								<string>Metal/Main.storyboard</string>
								<key>SortOrder</key>
								<integer>101</integer>
							</dict>
							<key>Info.plist:MainNib</key>
							<string>&lt;key&gt;NSMainStoryboardFile&lt;/key&gt;
&lt;string&gt;Main&lt;/string&gt;</string>
							<key>Assets.xcassets</key>
							<dict>
								<key>Path</key>
								<string>Metal/Assets.xcassets</string>
								<key>AssetGeneration</key>
								<array>
									<dict>
										<key>Type</key>
										<string>appicon</string>
										<key>Name</key>
										<string>AppIcon</string>
										<key>Platforms</key>
										<dict>
											<key>macOS</key>
											<string>true</string>
										</dict>
									</dict>
								</array>
								<key>SortOrder</key>
								<integer>100</integer>
							</dict>
						</dict>
					</dict>
					<dict>
						<key>RequiredOptions</key>
						<dict>
							<key>languageChoice</key>
							<string>Objective-C</string>
						</dict>
						<key>Nodes</key>
						<array>
							<string>AppDelegate.h</string>
							<string>AppDelegate.m</string>
							<string>Renderer.h</string>
							<string>Renderer.m</string>
							<string>GameViewController.h</string>
							<string>GameViewController.m</string>
							<string>Shaders.metal</string>
							<string>ShaderTypes.h</string>
						</array>
						<key>Definitions</key>
						<dict>
							<key>ShaderTypes.h</key>
							<dict>
								<key>Path</key>
								<string>Metal/ShaderTypes.h</string>
							</dict>
							<key>Shaders.metal</key>
							<dict>
								<key>Path</key>
								<string>Metal/Shaders.metal</string>
							</dict>
							<key>Renderer.h</key>
							<dict>
								<key>Path</key>
								<string>Metal/Renderer.h</string>
							</dict>
							<key>Renderer.m</key>
							<dict>
								<key>Path</key>
								<string>Metal/Renderer.m</string>
							</dict>
							<key>GameViewController.h</key>
							<dict>
								<key>Path</key>
								<string>Metal/GameViewController.h</string>
							</dict>
							<key>GameViewController.m</key>
							<dict>
								<key>Path</key>
								<string>Metal/GameViewController.m</string>
							</dict>
							<key>AppDelegate.h</key>
							<dict>
								<key>Path</key>
								<string>Metal/AppDelegate.h</string>
							</dict>
							<key>AppDelegate.m</key>
							<dict>
								<key>Path</key>
								<string>Metal/AppDelegate.m</string>
							</dict>
						</dict>
					</dict>
					<dict>
						<key>RequiredOptions</key>
						<dict>
							<key>languageChoice</key>
							<string>Swift</string>
						</dict>
						<key>Targets</key>
						<array>
							<dict>
								<key>SharedSettings</key>
								<dict>
									<key>SWIFT_OBJC_BRIDGING_HEADER</key>
									<string>$(TARGET_NAME)/ShaderTypes.h</string>
								</dict>
							</dict>
						</array>
						<key>Nodes</key>
						<array>
							<string>AppDelegate.swift</string>
							<string>GameViewController.swift</string>
							<string>Renderer.swift</string>
							<string>Shaders.metal</string>
							<string>ShaderTypes.h</string>
						</array>
						<key>Definitions</key>
						<dict>
							<key>Renderer.swift</key>
							<dict>
								<key>Path</key>
								<string>Metal/Renderer.swift</string>
							</dict>
							<key>ShaderTypes.h</key>
							<dict>
								<key>Path</key>
								<string>Metal/ShaderTypes.h</string>
							</dict>
							<key>Shaders.metal</key>
							<dict>
								<key>Path</key>
								<string>Metal/Shaders.metal</string>
							</dict>
							<key>GameViewController.swift</key>
							<dict>
								<key>Path</key>
								<string>Metal/GameViewController.swift</string>
							</dict>
							<key>AppDelegate.swift</key>
							<dict>
								<key>Path</key>
								<string>Metal/AppDelegate.swift</string>
							</dict>
						</dict>
					</dict>
				</array>
			</dict>
		</dict>
		<dict>
			<key>RequiredOptions</key>
			<dict>
				<key>gameType</key>
				<string>SpriteKit</string>
			</dict>
			<key>Identifier</key>
			<string>integrateGK</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>Integrate GameplayKit</string>
			<key>Description</key>
			<string>Provides set up for integrating GameplayKit into game</string>
			<key>SortOrder</key>
			<integer>211</integer>
			<key>Type</key>
			<string>checkbox</string>
			<key>Default</key>
			<string>false</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>appLifecycle</string>
			<key>Override</key>
			<string>Cocoa</string>
		</dict>
	</array>
</dict>
</plist>
