<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.apple.dt.unit.crossPlatformMetalGame_iOSComponent</string>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.crossPlatformAppBase_iOS</string>
	</array>
	<key>Nodes</key>
	<array>
		<string>Info.plist:UIStatusBarHidden</string>
	</array>
	<key>Definitions</key>
	<dict>
		<key>Base.lproj/Main.storyboard</key>
		<dict>
			<key>Path</key>
			<string>Main.storyboard</string>
			<key>SortOrder</key>
			<integer>99</integer>
		</dict>
	</dict>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>languageChoice</string>
			<key>Units</key>
			<dict>
				<key>Objective-C</key>
				<dict>
					<key>Nodes</key>
					<array>
						<string>GameViewController.h</string>
						<string>GameViewController.m</string>
					</array>
					<key>Definitions</key>
					<dict>
						<key>GameViewController.h</key>
						<dict>
							<key>Path</key>
							<string>GameViewController.h</string>
						</dict>
						<key>GameViewController.m</key>
						<dict>
							<key>New item</key>
							<string></string>
							<key>Path</key>
							<string>GameViewController.m</string>
						</dict>
					</dict>
				</dict>
				<key>Swift</key>
				<dict>
					<key>Targets</key>
					<array>
						<dict>
							<key>SharedSettings</key>
							<dict>
								<key>SWIFT_OBJC_BRIDGING_HEADER</key>
								<string>___PROJECTNAME___ Shared/ShaderTypes.h</string>
							</dict>
						</dict>
					</array>
					<key>Nodes</key>
					<array>
						<string>GameViewController.swift</string>
					</array>
					<key>Definitions</key>
					<dict>
						<key>GameViewController.swift</key>
						<dict>
							<key>Path</key>
							<string>GameViewController.swift</string>
						</dict>
					</dict>
				</dict>
			</dict>
		</dict>
	</array>
</dict>
</plist>
