<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
	<key>HiddenFromLibrary</key>
	<true/>
	<key>HiddenFromChooser</key>
	<true/>
	<key>Description</key>
	<string>A SceneKit Shader Cache.</string>
	<key>Summary</key>
	<string>A SceneKit Shader Cache.</string>
	<key>AllowedTypes</key>
	<array>
		<string>com.apple.scenekit.shadercache</string>
	</array>
	<key>DefaultCompletionName</key>
	<string>SceneKit Shaders</string>
	<key>MainTemplateFile</key>
	<string>___FILEBASENAME___.scncache</string>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
		<string>com.apple.platform.macosx</string>
		<string>com.apple.platform.watchos</string>
		<string>com.apple.platform.tvos</string>
	</array>
</dict>
</plist>
