<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Kind</key>
    <string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
    <key>Identifier</key>
    <string>com.apple.dt.unit.networkproviderextensionosx</string>
    <key>Ancestors</key>
    <array>
        <string>com.apple.dt.unit.osxAppExtensionBase</string>
    </array>
    <key>Concrete</key>
    <true/>
    <key>Targets</key>
    <array>
        <dict>
            <key>Frameworks</key>
            <array>
                <string>NetworkExtension</string>
            </array>
            <key>SharedSettings</key>
            <dict>
                <key>MACOSX_DEPLOYMENT_TARGET</key>
                <string>10.15</string>
                <key>CODE_SIGN_ENTITLEMENTS</key>
                <string>___PACKAGENAME___/___PACKAGENAMEASIDENTIFIER___.entitlements</string>
            </dict>
            <key>TargetIdentifier</key>
            <string>com.apple.dt.networkProviderExtension</string>
        </dict>
    </array>
    <key>Options</key>
    <array>
        <dict>
            <key>Identifier</key>
            <string>networkExtensionType</string>
            <key>Name</key>
            <string>Provider Type:</string>
            <key>Description</key>
            <string>The provider type for this network extension</string>
            <key>Values</key>
            <array>
                <string>App Proxy</string>
                <string>Packet Tunnel</string>
            </array>
            <key>Default</key>
            <string>App Proxy</string>
            <key>Type</key>
            <string>popup</string>
            <key>Units</key>
            <dict>
                <key>App Proxy</key>
                <array>
                    <dict>
                        <key>Definitions</key>
                        <dict>
                            <key>Info.plist:NSExtension</key>
                            <string><![CDATA[<key>NSExtension</key>
<dict>
    <key>NSExtensionPointIdentifier</key>
    <string>com.apple.networkextension.app-proxy</string>
    <key>NSExtensionPrincipalClass</key>
    <string>___VARIABLE_moduleNamePrefixForClasses:XML___AppProxyProvider</string>
</dict>
]]></string>
                        </dict>
                    </dict>
                    <dict>
                        <key>RequiredOptions</key>
                        <dict>
                            <key>languageChoice</key>
                            <string>Objective-C</string>
                        </dict>
                        <key>Nodes</key>
                        <array>
                            <string>AppProxyProvider.h</string>
                            <string>AppProxyProvider.m</string>
                        </array>
                        <key>Definitions</key>
                        <dict>
                            <key>AppProxyProvider.h</key>
                            <dict>
                                <key>Path</key>
                                <string>AppProxyProvider.h</string>
                            </dict>
                            <key>AppProxyProvider.m</key>
                            <dict>
                                <key>Path</key>
                                <string>AppProxyProvider.m</string>
                            </dict>
                        </dict>
                    </dict>
                    <dict>
                        <key>RequiredOptions</key>
                        <dict>
                            <key>languageChoice</key>
                            <string>Swift</string>
                        </dict>
                        <key>Nodes</key>
                        <array>
                            <string>AppProxyProvider.swift</string>
                        </array>
                        <key>Definitions</key>
                        <dict>
                            <key>AppProxyProvider.swift</key>
                            <dict>
                                <key>Path</key>
                                <string>AppProxyProvider.swift</string>
                            </dict>
                        </dict>
                    </dict>
                </array>
                <key>Packet Tunnel</key>
                <array>
                    <dict>
                        <key>Definitions</key>
                        <dict>
                            <key>Info.plist:NSExtension</key>
                            <string><![CDATA[<key>NSExtension</key>
<dict>
    <key>NSExtensionPointIdentifier</key>
    <string>com.apple.networkextension.packet-tunnel</string>
    <key>NSExtensionPrincipalClass</key>
    <string>___VARIABLE_moduleNamePrefixForClasses:XML___PacketTunnelProvider</string>
</dict>
]]></string>
                        </dict>
                    </dict>
                    <dict>
                        <key>RequiredOptions</key>
                        <dict>
                            <key>languageChoice</key>
                            <string>Objective-C</string>
                        </dict>
                        <key>Nodes</key>
                        <array>
                            <string>PacketTunnelProvider.h</string>
                            <string>PacketTunnelProvider.m</string>
                        </array>
                        <key>Definitions</key>
                        <dict>
                            <key>PacketTunnelProvider.h</key>
                            <dict>
                                <key>Path</key>
                                <string>PacketTunnelProvider.h</string>
                            </dict>
                            <key>PacketTunnelProvider.m</key>
                            <dict>
                                <key>Path</key>
                                <string>PacketTunnelProvider.m</string>
                            </dict>
                        </dict>
                    </dict>
                    <dict>
                        <key>RequiredOptions</key>
                        <dict>
                            <key>languageChoice</key>
                            <string>Swift</string>
                        </dict>
                        <key>Nodes</key>
                        <array>
                            <string>PacketTunnelProvider.swift</string>
                        </array>
                        <key>Definitions</key>
                        <dict>
                            <key>PacketTunnelProvider.swift</key>
                            <dict>
                                <key>Path</key>
                                <string>PacketTunnelProvider.swift</string>
                            </dict>
                        </dict>
                    </dict>
                </array>
            </dict>
        </dict>
    </array>
    <key>Nodes</key>
    <array>
        <string>Info.plist:NSExtension</string>
        <string>___PACKAGENAMEASIDENTIFIER___.entitlements</string>
    </array>
    <key>Definitions</key>
    <dict>
        <key>___PACKAGENAMEASIDENTIFIER___.entitlements</key>
        <dict>
            <key>Path</key>
            <string>___PACKAGENAMEASIDENTIFIER___.entitlements</string>
            <key>SortOrder</key>
            <integer>1000</integer>
            <key>TargetIdentifiers</key>
            <array/>
        </dict>
    </dict>
</dict>
</plist>
